<div class="holiday-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Holidays</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Add New Holiday</strong></h4>
          <%= form_for(@holiday, url: holidays_path, html: {class: "holiday_form"}) do |f| %>
            <div class="field">
              <label for="holiday_name">Name *</label>
              <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name', required: true %>
            </div>
            <div class="field">
              <label for="holiday_date">Date *</label><br>
              <%= f.date_field :holiday_date, class: 'form-control', required: true, id: 'holiday_picker', value: Date.today %>
            </div>
            
            <div class="field">
              <label for="holiday_type">Type *</label><br>
              <%= f.select :holidaytype_id, Holidaytype.all.collect{|u| [u.full_time_info, u.id]}.sort, {prompt: 'Select'}, {class: 'form-control', required: true, id: 'holiday_type_id'} %>
              <p><%= link_to "Please click here to create new holiday type", holidaytypes_path %></p>
            </div>
            <%= f.submit "Add New Holiday", class: "btn btn-primary add-holiday" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Existing Holidays</strong></h4>
          <table id="holidayTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Type</th>
                <th colspan="1">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @holidays.each do |holiday| %>
                <tr>
                  <td>
                    <%= link_to edit_holiday_path(holiday.slug), class: "holiday-link" do %>
                      <%= holiday.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_holiday_path(holiday.slug), class: "holiday-link" do %>
                      <%= holiday.holiday_date.strftime("%B %e, %Y") %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_holiday_path(holiday.slug), class: "holiday-link" do %>
                      <%= holiday.holidaytype.full_time_info %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to 'Delete', holiday_path(holiday.slug), data: { confirm: 'Are you sure?' }, method: :delete %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

