<div class="point-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Points</h3>
    </div>
    <div class="title_right">
      <h5 class="text-right"><%= link_to "View update history", history_points_path, class: "history-link" %></h5>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-4 col-sm-5 col-xs-12">
      <div class="x_panel">
        <div class="x_content" id="edit_point_form">
          <h4><strong>Edit Point</strong></h4>
          <%= form_tag new_point_path, {method: "get", class: "point_form"} do %>
            <input type="hidden" name="original_id" value="<%= @point.id %>">
            <div class="field">
              <label for="point_name">Name *</label>
              <input type="text" name="point_name" class="form-control" id="point_name" value="<%= @point.name %>" placeholder="" required="required" />
            </div>
            <div class="field">
              <label for="description">Description *</label>
              <textarea class="form-control" rows="4" id="description" name="description" required><%= @point.description %></textarea>
            </div>
            <div class="field">
              <label for="penalty_point">Point *</label>
              <input type="number" class="form-control" id="penalty_point" step="0.1" min="0" name="penalty_point" value="<%= @point.penalty_point %>">
            </div>
             <div class="field display-flex">
              <%= submit_tag "Update Point", class: "btn btn-primary update-point" %>
              <%= link_to "Back", points_path %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-7 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Existing Points</strong></h4>
          <table id="pointTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Point</th>
                <th colspan="1">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @points.each do |point| %>
                <tr class="<%= 'active' if params[:id] == point.slug %>">
                  <td>
                    <%= link_to edit_point_path(point.slug), class: "point-link" do %>
                      <%= point.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_point_path(point.slug), class: "point-link" do %>
                      <%= point.description %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_point_path(point.slug), class: "point-link" do %>
                      <%= point.penalty_point %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to 'Delete', point_path(point.slug), data: { confirm: 'Are you sure?' }, method: :delete %>
                  </td>
                </tr>
              <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

