<div class="point-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>View update history</h3>
    </div>
    
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <ul class="update_history">
          <% @points.each do |p| %>
            <li class="update-header">
              <span class="c-caret">
                <p class="update-title"><%= p.name%>, Point value:&nbsp;<%= p.penalty_point %></p>
              </span>
              <% user = User.find p.updated_user %>
              <p class="update-time">Successfully updated by <strong class="color-000"><%= user.full_name %></strong> on <%= Dates.defaultDeliveryTime(Dates.d_Date(p.created_at)) %></p>
              <% pp = Point.where(id: p.history).order(created_at: :desc) %>
              <ul class="content-list n-nested">
                <% pp.each_with_index do |u, index| %>
                  <li>
                    <p class="update-title"><%= u.name%>, Point value:&nbsp;<%= u.penalty_point %></p>
                    <% u_user = User.find u.updated_user %>
                    <p>Successfully <% if index == pp.count - 1 %> created<% else %> updated<% end %> by <strong class="color-000"><%= u_user.full_name %></strong> on <%= Dates.defaultDeliveryTime(Dates.d_Date(u.created_at)) %></p>
                  </li>
                <% end %>
              </ul>
            </li>
            
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>