<div id="register" class="">
  <section class="login_content">


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <h1>Edit <%= resource_name.to_s.humanize %></h1>

      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field">
        <div class="user_field">
          <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: "First Name" %>
          <%= f.text_field :last_name, autofocus: true, class: 'form-control', placeholder: "Last Name" %>
        </div>
      </div>
      
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: 'btn btn-default submit' %>
      </div>
    <% end %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :delete }) do |f| %>
      <h1>Close account</h1>
      <p>If you want to close your account, please click here.</p>
      <input data-confirm="Are you sure?" type="submit" value="Cancel my account" class="btn btn-default submit">
    <% end %>

    <%= link_to "Back", :back %>

    <div class="clearfix"></div>
    <div class="separator">
      <br />
      <div>
        <p>©2020 All Rights Reserved. CV Linens!</p>
      </div>
    </div>
  </section>
</div>