<div class="navbar nav_title" style="border: 0;">
  <%= link_to root_path, class: 'site_title', title: 'CVLinens' do %>
    <img src="<%= image_url('logo2.png', :alt => 'CVLinens') %>">
  <% end %>
</div>

<div class="clearfix"></div>

<!-- menu profile quick info -->
<div class="profile clearfix">
  <div class="profile_pic">
  </div>
  <div class="profile_info">
    <span>Welcome,</span>
    <h2>User</h2>
  </div>
</div>
<!-- /menu profile quick info -->

<br />

<!-- sidebar menu -->
<div id="sidebar-menu" class="help_menu_side hidden-print help_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a href="/">Go to Dashboard</a></li>
      <li><a href="#about-event">About Creating Event</a></li>
      <li><a href="#about-category">About Category</a></li>
    </ul>
  </div>
  <div class="menu_section">
    <h3>Point System</h3>
    <ul class="nav side-menu">
      <li><a href="#about-shift">About Shift</a></li>
      <li><a href="#about-lunchtime">About Lunchtime</a></li>
      <li><a href="#about-point">About Point</a></li>
      <li><a href="#about-consequence">About Consequence</a></li>
    </ul>
  </div>
  
</div>

<!-- /sidebar menu -->

<!-- /menu footer buttons -->
<%# <div class="sidebar-footer hidden-small">
  <a data-toggle="tooltip" data-placement="top" title="Settings">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="FullScreen">
    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Lock">
    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
  </a>
</div> %>
<!-- /menu footer buttons -->

