<div class="navbar nav_title" style="border: 0;">
  <%= link_to root_path, class: 'site_title', title: 'CVLinens' do %>
    <img src="<%= image_url('logo2.png', :alt => 'CVLinens') %>">
  <% end %>
</div>

<div class="clearfix"></div>

<!-- menu profile quick info -->
<div class="profile clearfix">
  <div class="profile_pic">
    <% if current_user.admin? %>
      <img src="<%= image_url('img.jpg', :alt => 'User') %>" class="img-circle profile_img">
    <% else %>
      <img src="<%= image_url('img2.jpg', :alt => 'User') %>" class="img-circle profile_img">
    <% end %>
  </div>
  <div class="profile_info">
    <span>Welcome,</span>
    <h2><%= current_user.full_name %></h2>
  </div>
</div>
<!-- /menu profile quick info -->

<br />
<% if current_user.active? %>
  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><%= link_to "Summary", root_path, class: [("active" if params[:controller] == 'events' && params[:action] == 'summary')] %></li>
        <li><%= link_to "Calendar", calendar_path, class: [("active" if params[:controller] == 'events' && params[:action] == 'calendar')] %></li>
        <li><%= link_to "Events", events_path, class: [("active" if params[:controller] == 'events' && params[:action] != 'calendar' && params[:action] != 'summary' && params[:action] != 'report')]  %></li>
        
      </ul>
    </div>
    <% if current_user.admin? || current_user.user_perm? || current_user.user_role_perm? || current_user.department_perm? || current_user.category_perm? || current_user.holiday_perm? %>
      <div class="menu_section">
        <h3>Special</h3>
        <ul class="nav side-menu">
          <% if current_user.user_perm? %>
            <li><%= link_to "User Management", users_path, class: [("active" if params[:controller] == 'users')] %></li>
          <% end %>
          <% if current_user.user_role_perm? %>
            <li><%= link_to "User Role Management", roles_path, class: [("active" if params[:controller] == 'roles')] %></li>
          <% end %>
          <% if current_user.department_perm? %>
            <li><%= link_to "Department", departments_path, class: [("active" if params[:controller] == 'departments')] %></li>
          <% end %>
          <% if current_user.admin? %>
            <li><%= link_to "Report", report_path, class: [("active" if params[:controller] == 'events' && params[:action] == 'report')] %></li>
          <% end %>
          <% if current_user.category_perm? %>
            <li><%= link_to "Category", categories_path, class: [("active" if params[:controller] == 'categories')] %></li>
          <% end %>
          <% if current_user.holiday_perm? %>
            <li><%= link_to "Holiday", holidays_path, class: [("active" if params[:controller] == 'holidays')] %></li>
          <% end %>
        </ul>
      </div>
    <% elsif current_user.manager? && !current_user.department_perm? %>
      <div class="menu_section">
        <h3>Special</h3>
        <ul class="nav side-menu">
          <li><%= link_to "Department", show_users_departments_path, class: [("active" if params[:controller] == 'departments')] %></li>
        </ul>
      </div>
    <% end %>
    <% if current_user.admin? || current_user.shift_perm? || current_user.lunchtime_perm? || current_user.point_perm? || current_user.penalty_perm? || current_user.consequence_perm? %>
      <div class="menu_section">
        <h3>Point System</h3>
        <ul class="nav side-menu">
          <% if current_user.shift_perm? %>
            <li><%= link_to "Shifts", shifts_path, class: [("active" if params[:controller] == 'shifts')] %></li>
          <% end %>
          <% if current_user.lunchtime_perm? %>
            <li><%= link_to "Lunchtimes", lunchtimes_path, class: [("active" if params[:controller] == 'lunchtimes')] %></li>
          <% end %>
          <% if current_user.point_perm? %>
            <li><%= link_to "Point Management", points_path, class: [("active" if params[:controller] == 'points')] %></li>
          <% end %>
          <% if current_user.penalty_perm? %>
            <li><%= link_to "Penalty Management", penalties_path, class: [("active" if params[:controller] == 'penalties' && params[:action] != 'summary' && params[:action] != 'user')] %></li>
            <li><%= link_to "User Penalties", penalties_summary_path, class: [("active" if params[:controller] == 'penalties' && (params[:action] == 'summary' || params[:action] == 'user'))] %></li>
          <% end %>
          <% if current_user.consequence_perm? %>
            <li><%= link_to "Consequences", consequences_path, class: [("active" if params[:controller] == 'consequences')] %></li>
          <% end %>
        </>
      </div>
    <% else %>
      <div class="menu_section">
        <h3>Point System</h3>
        <ul class="nav side-menu">
          <li><%= link_to "View Shifts", view_shift_path %></li>
          <li><%= link_to "View Lunchtimes", view_lunchtime_path %></li>
          <li><%= link_to "View Penalties", show_path %></li>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
<!-- /sidebar menu -->

<!-- /menu footer buttons -->
<%# <div class="sidebar-footer hidden-small">
  <a data-toggle="tooltip" data-placement="top" title="Settings">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="FullScreen">
    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Lock">
    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
  </a>
</div> %>
<!-- /menu footer buttons -->

