<div class="nav toggle">
  <%# <a id="menu_toggle"><i class="fa fa-bars"></i></a> %>
</div>

<ul class="nav navbar-nav navbar-right">
  <li class="">
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <% if current_user.admin? %>
        <img src="<%= image_url('img.jpg', :alt => 'User') %>">
      <% else %>
        <img src="<%= image_url('img2.jpg', :alt => 'User') %>">
      <% end %>
      <span><%= current_user.first_name %> <%= current_user.last_name %></span>
      <span class=" fa fa-angle-down"></span>
    </a>
    <ul class="dropdown-menu dropdown-usermenu pull-right">
      <li>
        <%= link_to edit_user_registration_path do %>
          <span>Profiles</span>
        <% end %>
      </li>
      <li><%= link_to 'Help', help_path %></li>
      <li><a href="/users/sign_out"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
    </ul>
  </li>

</ul>

