<!-- ======================================================================-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http//www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style type="text/css">
    .ReadMsgBody { width: 100%; }
    .ExternalClass { width: 100%; }
    a {
      text-decoration: none;
      color: black;
    }

    .reactivate_mail a {
      padding: 10px;
      background-color: #ef8738;
      display: inline-block;
      border-radius: 18px;
      color: white;
      text-align: center;
      font-size: 15px;
      width: 25%;
    }

    .noworking {
      font-size: 15px;
      width: 72%;
      margin: 0;
      padding: 5px;

      color: #595959;
    }


  </style>
</head>

<body style="margin: 0; padding: 0; -webkit-text-size-adjust: none; -ms-text-size-adjust: 100%;">
  <table width="100%" cellspacing='0' cellpadding='0' border="0" bgcolor="#ebebeb" style="background-color: #f5f6f6; padding: 73px 15px; margin: 0;">
    <tbody>
      <tr>
        <td align="center" width="100%">
          <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal; text-align: center;" cellspacing='0' cellpadding='0' align="center" bgcolor="transparent">
            <tbody>
              <tr>
                <td>
                  <a href="<%= root_url %>" target="_blank">
                    <center>
                      <img src="<%= image_url('logo.png', :alt => 'CVLinens') %>" style="display: block; margin: 0 auto; padding: 0; border: 0; width: 55%; padding-top: 40px; padding-bottom: 40px; max-width: 640px; max-height: 90px; object-fit: contain;" >
                    </center>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal;" cellspacing='30' cellpadding='15' align="center" bgcolor="#333333">
            <tbody>
              <tr>
                <td>
                  <center>
                    <p style="font-size: 25px; text-align: center; color: white; margin-bottom: 10px;letter-spacing: 2px; margin-top: 10px;" >
                      <%= I18n.t 'mail_updated_user' %>
                    </p>
                  </center>
                </td>
              </tr>
            </tbody>
          </table>
          <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal; " cellspacing='0' cellpadding='0' align="center" bgcolor="#FFFFFF">
            <tbody>
              <tr style="">
                <td>
                  <a href="javascript:void(0);">
                    <center>
                      <img src="<%= image_url('image-bar.png', :alt => 'CVLinens') %>" style="display: block; margin: 0 auto; padding: 0; border: 0; width: 100%; max-height: 90px; max-width: 651px!important; object-fit: contain;" >
                    </center>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <table style="margin: 0 auto; padding: 0; width: 651px; background-image:url('<%= image_url('mail-background.jpg', :alt => 'CVLinens') %>'); background-size: 651px; background-repeat: repeat-y; background-position: top center; height: 560px;" align="center">
            <tbody>
              <tr>
                <td>
                  <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal;" cellspacing='20' cellpadding='20' align="center">
                    <tbody>
                      <tr>
                        <td style="width: 70%;" align="left">
                          <a href="javascript:void(0);" style="vertical-align:middle;">
                            <img src="<%= image_url('user-icon.png', :alt => 'User') %>" style="display: inline;padding: 0; border: 0; width: 50px; max-width: 50px; max-height: 50px; object-fit: contain; margin-right: 10px;" >
                          </a>
                          <a href="javascript:void(0);" style="vertical-align:middle;"><span style="font-size: 17px; text-align: center; color: #595959; margin: 0; width: 52%"><span style="font-size: 20px; color: #f00;"><%= @current.full_name %></span> updated user info.</span></a>
                        </td>
                        <td style="width:30%;" align="right">
                          <a href="javascript:void(0);"  style="vertical-align: middle;">
                            <img src="<%= image_url('clock-icon.png', :alt => 'User') %>" style="display: inline;padding: 0; border: 0; width: 18px; object-fit: contain; margin-right: 5px;" >
                          </a>
                          <a href="javascript:void(0);" style="font-size: 14px; color: #ccc; margin: 0;vertical-align: middle;"><%= @updated_time %>(CST/CDT)</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal;" cellspacing='0' cellpadding='0' align="center" >
                    <tbody>
                      <tr>
                        <td style="color: #7f6a47; font-weight: bold;font-size: 15px; padding: 10px 40px 10px 40px;">The Person's Role Who updated This User info</td>
                      </tr>
                      <tr>
                        <td style="color: #333; margin-left: 20px; font-style: italic;font-size: 18px;padding: 0px 40px 0 60px;"><%= @current.user_role.capitalize %></td>
                      </tr>
                      <tr>
                        <td style="color: #7f6a47; font-weight: bold;font-size: 15px; padding: 10px 40px 10px 40px;">Name</td>
                      </tr>
                      <tr>
                        <td style="color: #333; margin-left: 20px; font-style: italic;font-size: 18px;padding: 0px 40px 0 60px;"><%= @to_user.full_name %></td>
                      </tr>
                      <tr>
                        <td style="color: #7f6a47; font-weight: bold;font-size: 15px; padding: 10px 40px 10px 40px;">Email</td>
                      </tr>
                      <tr>
                        <td style="color: #333; margin-left: 20px; font-style: italic;font-size: 18px;padding: 0px 40px 0 60px;"><%= @to_user.email %></td>
                      </tr>
                      <tr>
                        <td style="color: #7f6a47; font-weight: bold;font-size: 15px; padding: 10px 40px 10px 40px;">Username</td>
                      </tr>
                      <tr>
                        <td style="color: #333; margin-left: 20px; font-style: italic;font-size: 18px;padding: 0px 40px 0 60px;"><%= @to_user.username %></td>
                      </tr>
                      <tr>
                        <td style="color: #7f6a47; font-weight: bold;font-size: 15px; padding: 10px 40px 10px 40px;">Timezone</td>
                      </tr>
                      <tr>
                        <td style="color: #333; margin-left: 20px; font-style: italic;font-size: 18px;padding: 0px 40px 0 60px;"><%= @to_user.time_zone %></td>
                      </tr>
                      <tr>
                        <td style="color: #7f6a47; font-weight: bold;font-size: 15px; padding: 10px 40px 10px 40px;">User Role</td>
                      </tr>
                      <tr>
                        <td style="color: #333; margin-left: 20px; font-style: italic;font-size: 18px;padding: 0px 40px 0 60px;"><%= @to_user.user_role.capitalize %></td>
                      </tr>
                      <tr>
                        <td style="color: #7f6a47; font-weight: bold;font-size: 15px; padding: 10px 40px 10px 40px;">Manager</td>
                      </tr>
                      <tr>
                        <td style="color: #333; margin-left: 20px; font-style: italic;font-size: 18px;padding: 0px 40px 0 60px;"><%= @to_cc.full_name %></td>
                      </tr>
                      <tr>
                        <td style="color: #7f6a47; font-weight: bold;font-size: 15px; padding: 10px 40px 10px 40px;">Shift</td>
                      </tr>
                      <tr>
                        <td style="color: #333; margin-left: 20px; font-style: italic;font-size: 18px;padding: 0px 40px 0 60px;"><%= @to_user.shift.try(:name) %></td>
                      </tr>
                      <tr>
                        <td style="color: #7f6a47; font-weight: bold;font-size: 15px; padding: 10px 40px 10px 40px;">Lunchtime</td>
                      </tr>
                      <tr>
                        <td style="color: #333; margin-left: 20px; font-style: italic;font-size: 18px;padding: 0px 40px 0 60px;"><%= @to_user.lunchtime.try(:name) %></td>
                      </tr>
                    </tbody>
                  </table>
                  <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal;" cellspacing='20' cellpadding='20' align="center">
                    <tbody>
                      <tr>
                        <td style="width: 50%;" align="center">
                          <%= link_to root_url, class: "event_link" do %>
                            <span style="font-size: 17px; text-align: center; color: #fff; margin: 0 auto; padding: 20px 70px; background: #306381; border-radius: 5px;">Visit Website</span>
                          <% end %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal;" cellspacing='20' cellpadding='50' align="center">
                    <tbody>
                        <tr style="padding: 30px 0 30px; font-family: 'Brandon Grotesque', 'Helvetica Neue', 'Helvetica', 'Arial', serif; font-size: 14px; letter-spacing: 0.05em; color: #6c6c6c; text-decoration: none">
                          <td style="padding: 30px 0;">
                            <center>
                              <span style="font-size: 15px; color: #999; ">Contact:</span>
                              <a href="mailto:info@cvlinens.com" style="font-family: 'Brandon Grotesque', 'Helvetica Neue', 'Helvetica', 'Arial', serif; font-size: 15px; color: #ef8738; text-decoration: none">info@cvlinens.com</a>
                            </center>
                          </td>
                        </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>