<div class="holiday_type-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Holiday Types</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Edit Holiday Type</strong></h4>
          <%= form_for(@holidaytype, url: holidaytype_path(@holidaytype.slug), html: {method: "put", class: "holidaytype_form"}) do |f| %>
            <div class="field">
              <label for="holidaytype_name">Name *</label>
              <%= f.text_field :name, class: 'form-control', required: true, placeholder: "Name" %>
            </div>
            <div class="field">
              <label for="holidaytype_description">Hours Off *</label>
              <%= f.number_field :hours_off, class: 'form-control', min: '0', max: '8' %>
            </div>
            <div class="field">
              <label for="holidaytype_duration">Duration *</label>
              <div class="radio_wrapper display-flex">
                <div class="w_50">
                  <div class="w_100 display-flex">
                    <%= f.radio_button :duration, 'full_day' %>
                    <label for="holidaytype_duration_full_day">Full Day</label>
                  </div>
                  <div class="w_100 display-flex">
                    <%= f.radio_button :duration, 'custom' %>
                    <label for="holidaytype_duration_custom">Custom</label>
                  </div>
                </div>
                <div class="w_50">
                  <div class="w_100 display-flex">
                    <%= f.radio_button :duration, 'half_forenoon' %>
                    <label for="holidaytype_duration_half_forenoon">Half Day(Forenoon)</label>
                  </div>
                  <div class="w_100 display-flex">
                    <%= f.radio_button :duration, 'half_afternoon' %>
                    <label for="holidaytype_duration_half_afternoon">Half Day(Afternoon)</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="holiday__time">
              <div class="field display-flex">
                <div class="field-wrapper">
                  <label for="start_time">From *</label><br>
                  <%= f.time_field :start_time, class: 'form-control', required: true, value: @holidaytype.start_time, readonly: true %>
                </div>
                <div class="field-wrapper">
                  <label for="end_time">To *</label><br>
                  <%= f.time_field :end_time, class: 'form-control', required: true, value: @holidaytype.end_time, readonly: true %>
                </div>
              </div>
            </div>
            <%= f.submit "Update Holiday Type", class: "btn btn-primary add-holidaytype" %>
            <%= link_to "Back", holidaytypes_path %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Existing Types</strong></h4>
          <table id="holidaytype-Table" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Hours Off</th>
                <th>Duration</th>
                <th colspan="1">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @holidaytypes.each do |holidaytype| %>
                <tr class="<%= 'active' if params[:id] == holidaytype.slug %>">
                  <td>
                    <%= link_to edit_holidaytype_path(holidaytype.slug), class: "holidaytype-link" do %>
                      <%= holidaytype.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_holidaytype_path(holidaytype.slug), class: "holidaytype-link" do %>
                      <%= holidaytype.hours_off %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_holidaytype_path(holidaytype.slug), class: "holidaytype-link" do %>
                      <%= holidaytype.full_time_info %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to 'Delete', holidaytype_path(holidaytype.slug), data: { confirm: 'Are you sure?' }, method: :delete %>
                  </td>
                </tr>
              <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

