<div class="user-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Edit User</h3>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="x_panel">
    <div class="x_title">
      <h2><%= @user.full_name %> <small><%= @user.user_role %></small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div id="register" class="">
        <section class="login_content">
          
          <%= form_for(@user, url: user_path(id: @user.id), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :id, value: f.object.id %>
            <div class="field">
              <div class="field_wrapper">
                <%= f.label :first_name, "First name *" %>
                <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: "First Name", required: true %>
              </div>
            </div>
            <div class="field">
              <div class="field_wrapper">
                <%= f.label :last_name, "Last name *" %>
                <%= f.text_field :last_name, class: 'form-control', placeholder: "Last Name", required: true %>
              </div>
            </div>
            <div class="field">
              <div class="field_wrapper">
                <%= f.label :email, "Email *" %>
                <div class="email_wrapper flex-1">
                  <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Email address", required: true %>
                  <div class="email_html"></div>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="field_wrapper">
                <%= f.label :username, "Username *" %>
                <div class="username_wrapper flex-1">
                  <%= f.text_field :username,  class: 'form-control', placeholder: "Username", required: true %>
                  <div class="username_html"></div>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="field_wrapper">
                <%= f.label :time_zone, "Time Zone *" %>
                <%= f.time_zone_select :time_zone, nil, {}, {class: "form-control"} %>
              </div>
            </div>
            <div class="field">
              <div class="field_wrapper">
                <%= f.label :role_id, "Role *" %>
                <%= f.select :role_id, Role.all.collect{|u| [u.name, u.id]}.sort, {prompt: "Select"}, {required: true}  %>
              </div>
            </div>
            <% if !@user.admin?%>
              <div class="field">
                <div class="field_wrapper">
                  <%= f.label :department_ids, "Department *" %>
                  <select class="form-control department_multiples" id="user_department_ids" name="user[department_ids][]" multiple="multiple" required="required">
                    <option value disabled="disabled">No parent</option>
                    <% Department.all_sort.each do |d| %>
                      <% selected = '' %>
                      <% if @user.departments.ids.include?(d.id) %>
                        <% selected = 'selected' %>
                      <% end %>
                      <% if d.is_root? %>
                        <option value="<%= d.id %>" class="l1 <% if d.has_child? %> non-leaf<% end %>" <%= selected %>><%= d.name %></option>
                      <% else %>
                        <option value="<%= d.id %>" data-pup="<%= d.parent_id %>" class="l<%= d.check_level %> <% if d.has_child? %> non-leaf<% end %>" <%= selected %>><%= d.name %></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              </div>
            <% end %>
            <% if @user.employee? %>
              <div class="field">
                <div class="field_wrapper">
                  <%= f.label :manager_id, "Manager *" %>
                  <%= f.select(:manager_id, User.where(role_id: 2).collect {|u| [u.full_name, u.id]}.sort, :prompt => 'Select') %>
                </div>
              </div>
            <% elsif @user.manager? %>
              <div class="field">
                <div class="field_wrapper">
                  <%= f.label :manager_id, "Manager *" %>
                  <%= f.select(:manager_id, User.where(role_id: 3).collect {|u| [u.full_name, u.id]}.sort, :prompt => 'Select') %>
                </div>
              </div>
            <% elsif @user.admin? %>
              <div class="field">
                <%= f.hidden_field :manager_id, value: "0" %>
              </div>
            <% else %>
              <div class="field">
                <div class="field_wrapper">
                  <%= f.label :manager_id %>
                  <%= f.select(:manager_id, User.where(role_id: 2).collect {|u| [u.full_name, u.id]}.sort, :prompt => 'Select') %>
                </div>
              </div>
            <% end %>
            <div class="field">
              <div class="field_wrapper">
                <%= f.label :shift_id, "Shift *" %>
                <%= f.select :shift_id, Shift.all.collect {|u| [u.name, u.id]}.sort, {include_blank: 'Select'}, {required: true}  %>
              </div>
              <div class="more_wrapper">
                <%= link_to  "Click to see more info...", view_shift_path, class: "see_more", target: "_blank" %>
              </div>
            </div>
            <div class="field">
              <div class="field_wrapper">
                <%= f.label :lunchtime_id, "Lunchtime *" %>
                  <%= f.select :lunchtime_id, Lunchtime.all.collect {|u| [u.full_info, u.id]}.sort, {include_blank: 'Select'}, {required: true}  %>
              </div>
            </div>
            <div class="actions">
              <%= f.submit "Update", class: 'btn btn-primary submit' %>
            </div>
          <% end %>
          
          <% unless current_user == @user %>
            <% if @user.active? %>
              <%= form_for(@user, url: user_suspend_path(@user.id), html: { method: :post }) do |f| %>
                <h2>Suspend account</h2>
                <div class="suspend-wrapper">
                  <p>Reason:</p>
                  <textarea rows="4" class="suspend_reason" name="reason" placeholder="You can leave the reason. It will be sent the email address of this user."></textarea>
                </div>
                <input type="submit" value="Suspend account" class="btn btn-warning submit">
              <% end %>
            <% else %>
              <%= form_for(@user, url: user_reactivate_path(@user.id), html: { method: :post }) do |f| %>
                <h2>Reactivate account</h2>
                <p>If you reactivate this user, the original permission of this user will be restore.</p>
                <input type="submit" value="Reactivate account" class="btn btn-primary submit">
              <% end %>
            <% end %>
          <% end %>

          <%#= form_for(@user, url: user_path(id: @user.id), html: { method: :delete }) do |f| %>
            <h3>Delete account</h3>
            <p><%= I18n.t 'suspened_user_delete' %></p>
            <%# <p>You are about to delete this account , this procedure is irreversible.</p>
            <input data-confirm="Are you sure?" type="submit" value="Delete account" class="btn btn-danger submit"> %>
          <%# end %>

          <%= link_to "Back", users_path, class: "btn btn-default" %>

          <div class="clearfix"></div>
          <div class="separator">
            <br />
            <div>
              <p>©2020 All Rights Reserved. CV Linens!</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

