<div class="inactive_ss">
  <h2 class="text-center"><strong>Your account has been suspended, so many features have been restricted.</strong></h2>
  <div class="sus_img text-center">
    <img src="<%= image_url('suspend.jpg', alt: 'Suspend') %>" >
  </div>
</div>