<div class="user-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Users</h3>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#UserNew">Add User</button>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="x_panel">
    <table id="userTable">
      <thead>
        <tr class="user-header">
          <th class="user_id">#</th>
          <th class="user_fullname">Name</th>
          <th class="user_email">Email</th>
          <th class="user_name">Username</th>
          <th class="user_role">Role</th>
          <th class="user_created">Created at</th>
          <th class="edit_user">Edit</th>
          <th class="view_events">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input class="search_field">
          </td>
          <td>
            <input class="search_field">
          </td>
          <td>
            <input class="search_field">
          </td>
          <td>
            <input class="search_field">
          </td>
          <td>
            <input class="search_field">
          </td>
          <td>
            <input class="search_field">
          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <% @users.each_with_index do |user, index| %>
          <tr>
            <td>
              <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                <span><%= index + 1 %></span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                <span><%= user.full_name %></span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                <span><%= user.email %></span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                <span><%= user.username %></span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                <span><%= user.user_role %></span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                <span><%= user.created %></span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                <span>Edit</span>
              <% end %>
            </td>
            <td>
              <%= link_to user_events_path(user.slug), class: "user_link" do %>
                <span>View Events</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>



</div>

<!-- user modal -->
<div id="UserNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">New User</h4>
      </div>
      <div class="modal-body">
        <div id="testmodal" style="padding: 5px 20px;">
          <div class="add-group">
            <label class="col-sm-3 control-label">Title</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="title" name="title">
            </div>
          </div>
          <div class="add-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="4" id="descr" name="descr"></textarea>
            </div>
          </div>
          <div class="add-group">
            <label class="col-sm-3 control-label">Pick date</label>
            <div class="col-sm-9">
              <input type="text" name="datetimes" id="date-ranger" class="form-control date-ranger" />
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary add_event">Save changes</button>
      </div>
    </div>
  </div>
</div>
