<div class="users-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Users</h3>
      <%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#UserNew">Add User</button> %>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2><%= @user.full_name %> <small>Administrator</small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p class="text-muted font-13 m-b-30">
          You can edit any user by clicking User info except for Action button
          </p>
          <table id="userTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Time zone</th>
                <th>Shift</th>
                <th>Lunchtime</th>
                <th>Role</th>
                <th>Department</th>
                <th>Created at</th>
                <th>Total off time</th>
                <th>Active?</th>
                <th colspan="1">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @users.each_with_index do |user, index| %>
                <tr>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= index + 1 %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.full_name %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.email %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.username %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.time_zone %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.shift.try(:name) %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.lunchtime.try(:full_info) %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.user_role %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <% user.departments.each do |user_department| %>
                        <span><%= user_department.name %></span><br>
                      <% end %>
                    <% end %>
                  </td>
                  <% created_date = Dates.convertedTime(user.created_at, @user.time_zone) %>
                  <% parse_date = DateTime.parse(created_date) %>
                  <td data-sort="<%= parse_date.strftime("%Y%m%d%H%M%s") %>">
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= created_date %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to user_events_path(user.slug), class: "user_link" do %>
                      <span><%= user.total_off_time_user.round(2) %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to user_events_path(user.slug), class: "user_link" do %>
                      <% if user.active? %>
                        <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="active-icon" >
                      <% else %>
                        <img src="<%= image_url('invalid.png', alt: 'Yes') %>" class="inactive-icon" >
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to user_events_path(user.slug), class: "user_event_link" do %>
                      <span>View Events</span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- user modal -->
<div id="UserNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">New User</h4>
      </div>
      <div class="x_panel">
        <div class="x_content">
          <div id="register" class="">
            <section class="login_content">

              <%= form_for(resource, as: resource_name, url: new_users_path) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="field">
                  <div class="field_wrapper">
                    <%= f.label :first_name, "First name *" %>
                    <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: "First Name", required: true %>
                  </div>
                </div>
                <div class="field">
                  <div class="field_wrapper">
                    <%= f.label :last_name, "Last name *" %>
                    <%= f.text_field :last_name, class: 'form-control', placeholder: "Last Name", required: true %>
                  </div>
                </div>
                <div class="field">
                  <div class="field_wrapper">
                    <%= f.label :email, "Email *" %>
                    <div class="email_wrapper flex-1">
                      <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Email address", required: true %>
                      <div class="email_html"></div>
                    </div>
                  </div>
                  
                </div>
                <div class="field">
                  <div class="field_wrapper">
                    <%= f.label :username, "Username *" %>
                    <div class="username_wrapper flex-1">
                      <%= f.text_field :username,  class: 'form-control', placeholder: "Username", required: true %>
                      <div class="username_html"></div>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="field_wrapper">
                    <%= f.label :time_zone, "Time Zone *" %>
                    <%= f.time_zone_select :time_zone %>
                  </div>
                </div>
                <div class="field">
                  <div class="field_wrapper">
                    <%= f.label :role_id, "Role *" %>
                    <%= f.select :role_id, Role.all.collect{|u| [u.name, u.id]}.sort, {prompt: "Select"}, {required: true}  %>
                  </div>
                </div>
                <div class="field">
                  <div class="field_wrapper">
                    <%= f.label :department_ids, "Department *" %>
                    <select class="form-control department_multiples" id="user_department_ids" name="user[department_ids][]" multiple required="required">
                      <option value disabled="disabled">No parent</option>
                      <% Department.all_sort.each do |d| %>
                        <% if d.is_root? %>
                          <option value="<%= d.id %>" class="l1 <% if d.has_child? %> non-leaf<% end %>"><%= d.name %></option>
                        <% else %>
                          <option value="<%= d.id %>" data-pup="<%= d.parent_id %>" class="l<%= d.check_level %> <% if d.has_child? %> non-leaf<% end %>" ><%= d.name %></option>
                        <% end %>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="field">
                  <div class="field_wrapper">
                    <%= f.label :manager_id, "Manager *" %>
                    <%= f.select :manager_id, User.where(role_id: 2).collect {|u| [u.full_name, u.id]}, {prompt: 'Select'}, {required: true} %>
                  </div>
                </div>
                <div class="field">
                  <div class="field_wrapper">
                    <%= f.label :shift_id, "Shift *" %>
                    <%= f.select :shift_id, Shift.all.collect {|u| [u.name, u.id]}.sort, {include_blank: 'Select'}, {required: true}  %>
                  </div>
                  <div class="more_wrapper">
                    <%= link_to  "Click to see more info...", view_shift_path, class: "see_more", target: "_blank" %>
                  </div>
                </div>
                <div class="field">
                  <div class="field_wrapper">
                    <%= f.label :lunchtime_id, "Lunchtime *" %>
                    <%= f.select :lunchtime_id, Lunchtime.all.collect {|u| [u.full_info, u.id]}.sort, {include_blank: 'Select'}, {required: true}  %>
                  </div>
                </div>
                <div class="field">
                  <div class="field_wrapper">
                    <%= f.label :password, "Password *" %>
                    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Password', required: "required" %>
                  </div>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                </div>

                <div class="field">
                  <div class="field_wrapper">
                    <%= f.label :password_confirmation, "Password confirmation *" %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Password Confirmation', required: "required" %>
                  </div>
                </div>
                <div class="actions modal-footer">
                  <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
                  <%= f.submit "Create", class: 'btn btn-primary submit' %>
                </div>
              <% end %>
              <div id="pswd_info">
                <h4>Password must meet the following requirements:</h4>
                <ul>
                  <li id="letter" class="invalid">At least <strong>one letter</strong></li>
                  <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                  <li id="number" class="invalid">At least <strong>one number</strong></li>
                  <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                  <li id="equal" class="invalid">Be matched with <strong>confirmation</strong></li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

