<div class="department-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Department</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Edit Department</strong></h4>
          <%= form_for(@department, url: department_path(@department.id), html: {method: "put", class: "department_form"}) do |f| %>
            <div class="field">
              <label for="department_name">Name *</label>
              <%= f.text_field :name, class: 'form-control', required: true %>
            </div>
            <div class="field">
              <label for="department_parent">Parent department</label>
              <%#= f.select :parent_id, Department.all_sort.collect{|u| [u.name, u.id]}, {include_blank: 'No parent'}, {class: 'form-control', id: 'parent_department'} %>
              <select class="form-control" id="parent_department" name="department[parent_id]">
                <option value>No parent</option>
                <% Department.all_sort.each do |d| %>
                  <% selected = '' %>
                  <% if @department.parent_id == d.id  %>
                    <% selected = 'selected' %>
                  <% end %>
                  <% if d.is_root? %>
                    <option value="<%= d.id %>" class="l1 <% if d.has_child? %> non-leaf<% end %>" <%= selected %>><%= d.name %></option>
                  <% else %>
                    <option value="<%= d.id %>" data-pup="<%= d.parent_id %>" class="l<%= d.check_level %> <% if d.has_child? %> non-leaf<% end %>" <%= selected %>><%= d.name %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
            <div class="field display-flex">
              <%= f.submit "Update Department", class: "btn btn-primary update-department" %>
              <%= link_to "Back", departments_path %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Existing Department</strong></h4>

          <%# -------------------------------------- %>
          <div class="department-label display-flex">
            <p class="d-name">Name</p>
            <p class="d-users">User Count</p>
            <p class="d-action">Action</p>
          </div>
          <ul id="allDepartments">
            <% current_ul_level = 0 %>
            <% Department.all_sort.each do |d| %>
              <% level = d.check_level %>
              <% selected = '' %>

              <% if level < current_ul_level %>
                <% (level..current_ul_level-1).step(1) do |n| %>
                  </ul>
                  </li>
                <% end %>
              <% end %>

              <% if @department.id == d.id  %>
                <% selected = 'selected' %>
              <% end %>
              
              <li data-level="<%= level %>" data-pup="<%= d.parent_id %>" class="<%= selected %> <% if !d.has_child? %>no_child<% end %>">
              <% if d.has_child? %>
                <span class="c-caret">
                  <%= link_to edit_department_path(d.id), class: "department-link" do %><%= d.name %><% end %>
                  <span class="releated_count"><%= d.related_users.count %></span>
                  <%= link_to 'Delete', department_path(d.id), class: "department-remove", data: { confirm: 'Are you sure?' }, method: :delete %>
                </span>
                <ul class="n-nested">
              <% else %>
                <%= link_to edit_department_path(d.id), class: "department-link" do %><%= d.name %><% end %>
                <span class="releated_count"><%= d.related_users.count %></span>
                <%= link_to 'Delete', department_path(d.id), class: "department-remove", data: { confirm: 'Are you sure?' }, method: :delete %>
                </li>
              <% end %>

              <% current_ul_level = level %>
            <% end %>
            <%# ------------------------------------------  %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <p class="text-muted font-13 m-b-30">
          You can edit any user by clicking User info except for Action button
          </p>

          <table id="departmentUserTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Time zone</th>
                <th>Shift</th>
                <th>Lunchtime</th>
                <th>Role</th>
                <th>Department</th>
                <th>Created at</th>
                <th>Total off time</th>
                <th>Active?</th>
                <th colspan="1">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @users.each_with_index do |user, index| %>
                <tr>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= index + 1 %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.full_name %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.email %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.username %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.time_zone %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.shift.try(:name) %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.lunchtime.try(:full_info) %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.user_role %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <% user.departments.each do |user_department| %>
                        <span><%= user_department.name %></span><br>
                      <% end %>
                    <% end %>
                  </td>
                  <% created_date = Dates.convertedTime(user.created_at, current_user.time_zone) %>
                  <% parse_date = DateTime.parse(created_date) %>
                  <td data-sort="<%= parse_date.strftime("%Y%m%d%H%M%s") %>">
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= created_date %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to user_events_path(user.slug), class: "user_link" do %>
                      <span><%= user.total_off_time_user.round(2) %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to user_events_path(user.slug), class: "user_link" do %>
                      <% if user.active? %>
                        <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="active-icon" >
                      <% else %>
                        <img src="<%= image_url('invalid.png', alt: 'Yes') %>" class="inactive-icon" >
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to user_events_path(user.slug), class: "user_link" do %>
                      <span>View Events</span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

