<div class="department-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Department</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Add New Department</strong></h4>
          <%= form_for(@department, url: departments_path, html: {class: "department_form"}) do |f| %>
            <div class="field">
              <label for="department_name">Name *</label>
              <%= f.text_field :name, class: 'form-control', required: true %>
            </div>
            <div class="field">
              <label for="parent_department">Parent department</label>
              <% all_departments = Department.all_sort %>
              <select class="form-control" id="parent_department" name="department[parent_id]">
                <option value>No parent</option>
                <% all_departments.each do |d| %>
                  <% if d.is_root? %>
                    <option value="<%= d.id %>" class="l1 <% if d.has_child? %> non-leaf<% end %>"><%= d.name %></option>
                  <% else %>
                    <option value="<%= d.id %>" data-pup="<%= d.parent_id %>" class="l<%= d.check_level %> <% if d.has_child? %> non-leaf<% end %>"><%= d.name %></option>
                  <% end %>
                <% end %>
              </select>
              <%#= f.select :parent_id, options_for_select(
                 Department.all_sort.map{|c| [c.name, c.id, {'class'=>c.parent.try(:id)}]}
              ), {prompt: 'No parent'}, {class: 'form-control', id: 'parent_department'} %>
              <%#= f.select :parent_id, Department.all_sort.collect{|u| [u.name, u.id]}, {prompt: 'No parent'}, {class: 'form-control', id: 'parent_department'} %>

            </div>
            <%= submit_tag "Add New Department", class: "btn btn-primary add-department" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Existing Department</strong></h4>
          <%# -------------------------------------- %>
          <div class="department-label display-flex">
            <p class="d-name">Name</p>
            <p class="d-users">User Count</p>
            <p class="d-action">Action</p>
          </div>
          <ul id="allDepartments">
            <% current_ul_level = 0 %>
            <% Department.all_sort.each do |d| %>
              <% level = d.check_level %>
              <% selected = '' %>

              <% if level < current_ul_level %>
                <% (level..current_ul_level-1).step(1) do |n| %>
                  </ul>
                  </li>
                <% end %>
              <% end %>

              <% if @department.id == d.id  %>
                <% selected = 'selected' %>
              <% end %>
              
              <li data-level="<%= level %>" data-pup="<%= d.parent_id %>" class="<%= selected %> <% if !d.has_child? %>no_child<% end %>">
              <% if d.has_child? %>
                <span class="c-caret">
                  <%= link_to edit_department_path(d.id), class: "department-link" do %><%= d.name %><% end %>
                  <span class="releated_count"><%= d.related_users.count %></span>
                  <%= link_to 'Delete', department_path(d.id), class: "department-remove", data: { confirm: 'Are you sure?' }, method: :delete %>
                </span>
                <ul class="n-nested">
              <% else %>
                <%= link_to edit_department_path(d.id), class: "department-link" do %><%= d.name %><% end %>
                <span class="releated_count"><%= d.related_users.count %></span>
                <%= link_to 'Delete', department_path(d.id), class: "department-remove", data: { confirm: 'Are you sure?' }, method: :delete %>
                </li>
              <% end %>

              <% current_ul_level = level %>
            <% end %>
          </ul>
            <%# ------------------------------------------  %>
        </div>
      </div>
    </div>
  </div>
</div>

