<div class="department-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Department</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <% @departments.each_with_index do |d, index| %>
            <h4><%= d.name %></h4>

            <table id="departmentShowUserTable-<%= index %>" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Username</th>
                  <th>Time zone</th>
                  <th>Shift</th>
                  <th>Lunchtime</th>
                  <th>Role</th>
                  <th>Department</th>
                  <th>Created at</th>
                  <th>Total off time</th>
                  <th>Active?</th>
                </tr>
              </thead>

              <tbody>
                <% d.related_users.each_with_index do |user, index| %>
                  <tr>
                    <td>
                      <span><%= index + 1 %></span>
                    </td>
                    <td>
                      <span><%= user.full_name %></span>
                    </td>
                    <td>
                      <span><%= user.email %></span>
                    </td>
                    <td>
                      <span><%= user.username %></span>
                    </td>
                    <td>
                      <span><%= user.time_zone %></span>
                    </td>
                    <td>
                      <span><%= user.shift.try(:name) %></span>
                    </td>
                    <td>
                      <span><%= user.lunchtime.try(:full_info) %></span>
                    </td>
                    <td>
                      <span><%= user.user_role %></span>
                    </td>
                    <td>
                      <% user.departments.each do |user_department| %>
                        <span><%= user_department.name %></span><br>
                      <% end %>
                    </td>
                    <% created_date = Dates.convertedTime(user.created_at, current_user.time_zone) %>
                    <% parse_date = DateTime.parse(created_date) %>
                    <td data-sort="<%= parse_date.strftime("%Y%m%d%H%M%s") %>">
                      <span><%= created_date %></span>
                    </td>
                    <td>
                      <span><%= user.total_off_time_user.round(2) %></span>
                    </td>
                    <td>
                      <% if user.active? %>
                        <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="active-icon" >
                      <% else %>
                        <img src="<%= image_url('invalid.png', alt: 'Yes') %>" class="inactive-icon" >
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

