<div class="display-flex">
  <h2 class="flex-1">Off Time and Remaining Time  <small>(Unit: hours)</small></h2>
  <h2><small>Note: Off Time is the sum of the hours approved by the admin.</small></h2>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Duration</th>
      <th>Allowed hours</th>
      <th>Off Time</th>
      <th>Remaining Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Year</td>
      <td>176</td>
      <td><%= user.total_off_time_user.round(2) %></td>
      <td><%= 176 - user.total_off_time_user.round(2) %></td>
    </tr>
    <tr>
      <td>March 1 ~ September 30
      <td>96</td>
      <td><%= user.middle_off_time.round(2) %></td>
      <td><%= 96 - user.middle_off_time.round(2) %></td>
    </tr>
  </tbody>
</table>
