<div class="calendar-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Calendar <small>Click to add/edit events</small></h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="filter_option display-flex">
          <h5>Filter</h5>
          <select id="event-filter-option-calendar" class="form-control">
            <option value="all" <% if @filter_status.blank? || @filter_status == 'all' %> selected<% end %>>All</option>
            <option value="approved" <% if @filter_status == 'approved' %> selected<% end %>>Approved</option>
            <option value="denied" <% if @filter_status == 'denied' %> selected<% end %>>Denied</option>
            <option value="pending" <% if @filter_status == 'pending' %> selected<% end %>>Pending</option>
            <option value="canceled" <% if @filter_status == 'canceled' %> selected<% end %>>Canceled</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <% if !current_user.admin? %>
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
            <%= render partial: "off_time", locals: {user: current_user} %>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Calendar Events</h2>
          <div class="icon-status">
            <span class="icon icon-approved"><span class="dot"></span><span class="icon-text">Approved</span></span>
            <span class="icon icon-denied"><span class="dot"></span><span class="icon-text">Denied</span></span>
            <span class="icon icon-canceled"><span class="dot"></span><span class="icon-text"><% if (current_user.admin? || current_user.manager?) %>Canceled by employee<% else %>Canceled by you<% end %></span></span>
            <span class="icon icon-pending"><span class="dot"></span><span class="icon-text">Pending</span></span>
          </div>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p><strong>Note: The date and time of all events is based on your timezone. <a href="/users/edit" class="link_hover_color" target="_blank">Please click here to check your timezone.</a></strong></p>

          <div id='calendar'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- calendar modal -->
<div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">New Event</h4>
      </div>
      <div class="modal-body">
        <div id="testmodal" style="padding: 5px 20px;">
          <form id="antoform" class="form-horizontal calender" role="form">
            <div class="form-group">
              <label class="col-sm-3 col-xs-3 control-label">Category</label>
              <div class="col-sm-9 col-xs-9">
                <% if !current_user.employee? %>
                  <%= select("category", "id", Category.all.collect {|u| [u.name, u.id]}.sort, {prompt: 'Select'}, {class: "form-control", required: true}) %>
                <% else %>
                    <%= select("category", "id", Category.all.reject {|u| u.default_option != true}.collect {|u| [u.name, u.id]}.sort, {prompt: 'Select'}, {class: "form-control", required: true}) %>
                  <%#= select("creator", "id", current_user.collect {|u| [u.full_name, u.id]})%>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 col-xs-3 control-label">Description</label>
              <div class="col-sm-9 col-xs-9">
                <textarea class="form-control" style="height:55px;" id="descr" name="descr"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 col-xs-3 control-label">Pick date</label>
              <div class="col-sm-9 col-xs-9">
                <input type="text" name="datetimes3" id="date-ranger3" class="form-control date-ranger" />
              </div>
            </div>
            <div class="form-group">
            <label class="col-sm-3 col-xs-3 control-label">Employee</label>
            <div class="col-sm-9 col-xs-9">
              <% if current_user.admin? %>
                <%= select("creator", "id", User.all.collect {|u| [ u.full_name_role, u.id ] }.group_by{ |u| u.first[0,1].upcase }.sort, {prompt: 'Select', selected: current_user.id}, {class: "form-control", required: true}) %>
              <% elsif current_user.manager? %>
                <%= select("creator", "id",  current_user.find_my_employees.collect {|u| [u.full_name_role, u.id ]}.group_by{ |u| u.first[0,1].upcase }.sort, {prompt: 'Select', selected: current_user.id}, {class: "form-control", required: true}) %>
              <% else %>
                <select class="form-control">
                  <option value="<%= current_user.id %>"><%= current_user.full_name %></option>
                </select>
                <%#= select("creator", "id", current_user.collect {|u| [u.full_name, u.id]})%>
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 col-xs-3 control-label">Timezone</label>
            <div class="col-sm-9 col-xs-9 control-label">
              <select class="form-control" name="event[creator_tz]" id="creator_tz">
                <option value="0">Use your timezone</option>
              </select>
            </div>
          </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary antosubmit">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel2">Edit Calendar Entry</h4>
        <br>
        <small><strong>Submitted Date:</strong> <label class="" id="submit_date"></label></small>
      </div>
      <div class="modal-body">

        <div id="testmodal2" style="padding: 5px 20px;">
          <form id="antoform2" class="form-horizontal calender" role="form" name="edit_event">
            <div class="form-group">
              <label class="col-sm-3 col-xs-3 control-label">Category</label>
              <div class="col-sm-9 col-xs-9">
                <% if !current_user.employee? %>
                  <%= select("category", "update_id", Category.all.collect {|u| [u.name, u.id]}.sort, {prompt: 'Select'}, {class: "form-control", required: true}) %>
                <% else %>
                    <%= select("category", "update_id", Category.all.reject {|u| u.default_option != true}.collect {|u| [u.name, u.id]}.sort, {prompt: 'Select'}, {class: "form-control", required: true}) %>
                  <%#= select("creator", "id", current_user.collect {|u| [u.full_name, u.id]})%>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 col-xs-3 control-label">Description</label>
              <div class="col-sm-9 col-xs-9">
                <textarea class="form-control" style="height:55px;" id="descr2" name="descr"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 col-xs-3 control-label">Pick date</label>
              <div class="col-sm-9 col-xs-9">
                <input type="text" name="datetimes2" id="date-ranger2" class="form-control date-ranger" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 col-xs-3 control-label">Employee</label>
              <div class="col-sm-9 col-xs-9">
                <% if current_user.admin? %>
                  <%= select("updater", "id", User.all.collect {|u| [ u.full_name_role, u.id ] }.group_by{ |u| u.first[0,1].upcase }.sort, {prompt: 'Select'}, {class: "form-control", required: true}) %>
                <% elsif current_user.manager? %>
                  <%= select("updater", "id",  current_user.find_my_employees.collect {|u| [u.full_name_role, u.id ]}.group_by{ |u| u.first[0,1].upcase }.sort, {prompt: 'Select'}, {class: "form-control", required: true}) %>
                <% else %>
                  <select class="form-control">
                    <option value="<%= current_user.id %>"><%= current_user.full_name %></option>
                  </select>
                  <%#= select("updater", "id", current_user.collect {|u| [u.full_name, u.id]})%>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 col-xs-3 control-label">Timezone</label>
              <div class="col-sm-9 col-xs-9">
                <select class="form-control" name="event[updater_tz]" id="updater_tz">
                  <option value="0">Use your timezone</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default antoclose2" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary antosubmit2">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div id="CalenderModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel3">View Event</h4>
        <br>
        <small><strong>Submitted Date:</strong> <label class="" id="submit_date2"></label></small>
      </div>
      <div class="modal-body">

        <div id="testmodal3" style="padding: 5px 20px;">
          <form id="antoform3" class="form-horizontal calender" role="form">
            <div class="form-group">
              <label class="col-sm-3 col-xs-3 control-label">Category</label>
              <div class="col-sm-9 col-xs-9">
                <input type="text" name="category_name" id="category_name" class="form-control" readonly disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 col-xs-3 control-label">Description</label>
              <div class="col-sm-9 col-xs-9">
                <textarea class="form-control" style="height:55px;" id="descr3" name="descr3" readonly disabled></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 col-xs-3 control-label">Pick date</label>
              <div class="col-sm-9 col-xs-9">
                <input type="text" name="datetimes4" id="date-ranger4" class="form-control date-ranger" readonly disabled />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 col-xs-3 control-label">Employee</label>
              <div class="col-sm-9 col-xs-9">
                <input type="text" name="employee_name" id="employee_name" class="form-control" readonly disabled>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default antoclose3" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
<div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>
<div id="fc_view" data-toggle="modal" data-target="#CalenderModalView"></div>
