<div class="detail-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Edit Event</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="page-content">
    <div class="x_panel">
      <div class="x_content">
        <div class="fc-view-container">
          <div class="fc-list-view">
            <table class="fc-list-table">
              <tbody>
                <tr class="fc-list-heading">
                  <td class="fc-widget-header" colspan="4">
                    <div class="fc-list-heading-main">
                      <span class="created_by"><b><%= @event.created_by %></b></span>
                    </div>
                    <span class="fc-list-heading-alt"><%= @start_Local %>  	&mdash;  <%= @end_Local %> (<%= @event.event_off_time.round(2) %> hours)</span>
                    <span></span>
                  </td>
                </tr>
                <tr class="fc-list-item">
                  <td class="fc-list-item-marker check_status_marker fc-widget-content">
                    <span class="fc-event-dot event-<%= @event.check_status %>" data-toggle="tooltip" title="<%= @event.check_status %>"></span>
                  </td>
                  <td class="fc-list-item-category fc-widget-content">
                    <% if @event.category.present? %>
                      <div><%= @event.category.try(:name) %></div>
                    <% else %>
                      <div>No Category <small>(Please update event to select category)</small></div>
                    <% end %>
                  </td>
                  <td class="fc-list-item-status fc-widget-content">
                    <div class="check_status"><span>Status:</span>&nbsp;<span><%= @event.check_status %></span></div>
                  </td>
                </tr>
                <tr class="fc-list-subitem">
                  <td class="fc-list-item-description fc-widget-content" colspan="3">
                    <div class="s_desc"><%= @event.description %></div>
                  </td>
                </tr>
                <% if @event.comment.present? %>
                  <tr class="fc-list-comment">
                    <td class="fc-list-item-comment fc-widget-content" colspan="3">
                      <div class="s_desc">
                        <label class="comment_label">Comment:</label>
                        <div class="comment"><textarea readonly rows="5"><%= @event.comment %></textarea></div>
                        <% if (current_user.admin? || (current_user.manager? && @event.user.employee?)) %>
                          <button type="button" class="btn-edit-comment" data-id="<%= @event.id %>">Edit comment</button>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
                <% if @event.comment.blank? %>
                  <tr class="fc-list-comment">
                    <td class="fc-list-item-comment fc-widget-content" colspan="3">
                      <div class="s_desc">
                        <label class="comment_label">Comment:</label>
                        <% if (current_user.admin? || (current_user.manager? && @event.user.employee?)) %>
                          <button type="button" class="btn-add-comment" data-id="<%= @event.id %>">Add comment</button>
                        <% else %>
                          <p>No comment from <%= @event.user.find_own_manager.user_role %></p>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="container-wrapper">
              <div class="container">
                <div class="row">
                  <% if (@event.approved? || @event.denied?) %>
                    <div class="col-md-5 col-sm-5">
                      <span class="show_status">This event was <%= @event.check_status %> by <b><%= @event.changed_by %></b></span>
                    </div>
                  <% elsif @event.canceled? %>
                    <div class="col-md-5 col-sm-5">
                      <span class="show_status">This event was canceled by employee</span>
                    </div>
                  <% else %>
                    <div class="col-md-5 col-sm-5">
                      <span class="show_status">This event is still pending</span>
                    </div>
                  <% end %>
                  <% if current_user.admin? %>
                    <div class="col-md-2 col-sm-2 edit--event">
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <button class="btn btn-basic edit_event" data-toggle="modal" data-target="#EventEdit" ><span>Edit</span></button>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button class="btn btn-basic delete_event" data-toggle="modal" data-target="#confirm-delete"  data-id="<%= @event.id %>"><span>Delete</span></button>
                          </div>
                      </div>
                    </div>
                  <% else %>
                    <% if (@event.pending?) %>
                      <div class="col-md-2 col-sm-2 edit--event">
                        <div class="row">
                          <div class="col-md-12 col-sm-12">
                            <button class="btn btn-basic delete_event" data-toggle="modal" data-target="#confirm-delete"  data-id="<%= @event.id %>"><span>Delete</span></button>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  <div class="col-md-2 col-sm-2">
                    <div class="row">
                      <% if current_user.admin? %>
                        <% if @event.approved? %>
                          <div class="col-md-6 col-sm-6">
                            <button class="btn btn-success btn-changed change_status" data-toggle="modal" data-target="#confirm-event" data-category="<%= @event.category.try(:id) %>" data-id="<%= @event.id %>" data-status="3"><span>Approved</span></button>
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-category="<%= @event.category.try(:id) %>" data-id="<%= @event.id %>" data-status="2"><span>Deny</span></button>
                          </div>
                        <% elsif @event.denied? %>
                          <div class="col-md-6 col-sm-6">
                            <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-category="<%= @event.category.try(:id) %>" data-id="<%= @event.id %>" data-status="3"><span>Approve</span></button>
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <button class="btn btn-danger btn-changed change_status" data-toggle="modal" data-target="#confirm-event" data-category="<%= @event.category.try(:id) %>" data-id="<%= @event.id %>" data-status="2"><span>Denied</span></button>
                          </div>
                        <% elsif @event.canceled? %>
                          <div class="col-md-12 col-sm-12">
                            <span class="event_status btn btn-warning" disabled data-toggle="tooltip" title="Canceled by employee.">Canceled</span>
                          </div>
                        <% else %>
                          <div class="col-md-6 col-sm-6">
                            <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-category="<%= @event.category.try(:id) %>" data-id="<%= @event.id %>" data-status="3"><span>Approve</span></button>
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-category="<%= @event.category.try(:id) %>" data-id="<%= @event.id %>" data-status="2"><span>Deny</span></button>
                          </div>
                        <% end %>

                      <% elsif current_user.manager? %>
                        <% if @event.approved? %>
                          <div class="col-md-12 col-sm-12">
                            <span class="event_status btn btn-success" disabled data-toggle="tooltip" title="Already approved. Only admin can change this state.">Approved</span>
                          </div>
                        <% elsif @event.denied? %>
                          <div class="col-md-12 col-sm-12">
                            <span class="event_status btn btn-danger" disabled data-toggle="tooltip" title="Already denied. Only admin can change this state.">Denied</span>
                          </div>
                        <% elsif @event.canceled? %>
                          <div class="col-md-12 col-sm-12">
                            <span class="event_status btn btn-warning" disabled data-toggle="tooltip" title="Canceled by employee.">Canceled</span>
                          </div>
                        <% else %>
                          <% if @event.user.manager? %>
                            <div class="col-md-12 col-sm-12">
                              <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-category="<%= @event.category.try(:id) %>" data-id="<%= @event.id %>" data-status="1"><span>Cancel</span></button>
                            </div>
                          <% else %>
                            <div class="col-md-6 col-sm-6">
                              <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-category="<%= @event.category.try(:id) %>" data-id="<%= @event.id %>" data-status="3"><span>Approve</span></button>
                            </div>
                            <div class="col-md-6 col-sm-6">
                              <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-category="<%= @event.category.try(:id) %>" data-id="<%= @event.id %>" data-status="2"><span>Deny</span></button>
                            </div>
                          <% end %>
                        <% end %>
                      <% else %>
                        <% if @event.approved? %>
                          <div class="col-md-12 col-sm-12">
                            <span class="event_status btn btn-success" disabled data-toggle="tooltip" title="Already approved. Only admin can change this state.">Approved</span>
                          </div>
                        <% elsif @event.denied? %>
                          <div class="col-md-12 col-sm-12">
                            <span class="event_status btn btn-danger" disabled data-toggle="tooltip" title="Already denied. Only admin can change this state.">Denied</span>
                          </div>
                        <% elsif @event.canceled? %>
                          <div class="col-md-12 col-sm-12">
                            <span class="event_status btn btn-warning" disabled data-toggle="tooltip" title="Canceled by you.">Canceled</span>
                          </div>
                        <% else %>
                          <div class="col-md-12 col-sm-12">
                            <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-category="<%= @event.category.try(:id) %>" data-id="<%= @event.id %>" data-status="1"><span>Cancel</span></button>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <span class="submit_date">Submitted Date: </span>
                    <% str_submit = Time.use_zone(current_user.time_zone) {@event.created_D} %>
                    <span><%= str_submit %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- calendar modal -->
<% if (current_user.admin?) %>
<div id="EventEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Edit Event</h4>
      </div>
      <div class="modal-body">
        <div id="testmodal" style="padding: 5px 20px;">
          <div class="add-group">
            <label class="col-sm-3 control-label">Category</label>
            <div class="col-sm-9">
              <% if !current_user.employee? %>
                <%= select("category", "update_id", options_for_select(Category.all.collect {|u| [u.name, u.id]}.sort, @event.category_id), {prompt: 'Select'}, {class: "form-control", required: true}) %>
              <% else %>
                  <%= select("category", "update_id", options_for_select(Category.all.reject {|u| u.default_option != true}.collect {|u| [u.name, u.id]}.sort), {prompt: 'Select'}, {class: "form-control", required: true}) %>
                <%#= select("creator", "id", current_user.collect {|u| [u.full_name, u.id]})%>
              <% end %>
            </div>
          </div>
          <div class="add-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="4" id="descr" name="descr"><%= @event.description %></textarea>
            </div>
          </div>
          <div class="add-group">
            <label class="col-sm-3 control-label">Pick date</label>
            <div class="col-sm-9">
              <input type="text" name="datetimes" id="date-ranger" class="form-control date-ranger" />
            </div>
          </div>
          <div class="add-group">
            <label class="col-sm-3 control-label">Employee</label>
            <div class="col-sm-9">
              <% if current_user.admin? %>
                <%= select("updater", "id", grouped_options_for_select(User.all.collect {|u| [ u.full_name_role, u.id ] }.group_by{ |u| u.first[0,1].upcase }.sort, @event.user_id), {prompt: 'Select'}, {class: "form-control", required: true}) %>
              <% elsif current_user.manager? %>
                <%= select("updater", "id",  grouped_options_for_select(current_user.find_my_employees.collect {|u| [u.full_name_role, u.id ]}.group_by{ |u| u.first[0,1].upcase }.sort, @event.user_id), {prompt: 'Select'}, {class: "form-control", required: true}) %>
              <% else %>
                <select class="form-control">
                  <option value="<%= current_user.id %>"><%= current_user.full_name %></option>
                </select>
                <%#= select("updater", "id", current_user.collect {|u| [u.full_name, u.id]})%>
              <% end %>
            </div>
          </div>
          <div class="add-group">
            <label class="col-sm-3 control-label">Timezone</label>
            <div class="col-sm-9 control-label">
              <select class="form-control" name="event[updater_tz]" id="updater_tz">
                <option value="0">Use your timezone</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary edit_event2" data-id="<%= @event.id %>">Save changes</button>
      </div>
    </div>
  </div>
</div>

<% end %>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
      </div>
  
      <div class="modal-body">
        <p>You are about to delete one event, this procedure is irreversible.</p>
        <p>Do you want to proceed?</p>
        <p class="debug-url"></p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger btn-ok">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm-event" tabindex="-1" role="dialog" aria-labelledby="myModalEventLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalEventLabel">Confirm Approve</h4>
      </div>
  
      <div class="modal-body">
        <p class="last-label">You are about to approve one event.</p>
        <p>Do you want to proceed?</p>
        <p class="debug-url"></p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a class="btn btn-ok btn-eventConfirm">Approve</a>
      </div>
    </div>
  </div>
</div>
