<div class="event-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Events</h3>
      <% if !current_user.admin? && current_user.total_off_time_user >= 176%>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EventNew" disabled>Add Event</button>
          <div class="full-off-time"><i class="fa fa-exclamation-triangle"></i>Your total off time is reached to 176 hours. You can't create new event.</div>
      <% else %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EventNew">Add Event</button>
      <% end %>
       
    </div><br>
      
  </div>

  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <% if !current_user.admin? %>
          <div class="x_content">
            <%= render partial: "off_time", locals: {user: current_user} %>
          </div>
        <% end %>

        <div class="x_title">
          <div class="heading">
            <h2>All Events: <%= @events.count %>
              <% if @filter_status == 'all' %>
                <small><b>(Approved: <%= @events.where(status: 3).count %></b></small>
                <small><b>Denied: <%= @events.where(status: 2).count %></b></small>
                <small><b>Pending: <%= @events.where(status: 0).count %></b></small>
                <small><b>Canceled: <%= @events.where(status: 1).count %>)</b></small>
              <% end %>
            </h2>
          </div>
          <div class="filter_option">
            <h5>Filter</h5>
            <select id="event-filter-option" class="form-control">
              <option value="all" <% if @filter_status == 'all' %> selected<% end %>>All</option>
              <option value="approved" <% if @filter_status == 'approved' %> selected<% end %>>Approved</option>
              <option value="denied" <% if @filter_status == 'denied' %> selected<% end %>>Denied</option>
              <option value="pending" <% if @filter_status.blank? || @filter_status == 'pending' %> selected<% end %>>Pending</option>
              <option value="canceled" <% if @filter_status == 'canceled' %> selected<% end %>>Canceled</option>
            </select>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <% if !current_user.admin? %>
            <p class="text-muted font-13 m-b-30">
              You can edit the event by clicking on the event information that is on pending.
            </p>  
          <% else %>
            <p class="text-muted font-13 m-b-30">
              You can edit the event by clicking on the event information.
            </p>
          <% end %>
          <p><strong>Note: The date and time of all events is based on your timezone. <a href="/users/edit" class="link_hover_color" target="_blank">Please click here to check your timezone.</a></strong></p>
          <div class="table-responsive">
            <table id="eventTable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="__category_">Category</th>
                  <th class="__description_">Description</th>
                  <th class="__username_">User Name</th>
                  <th class="__startdate_">Start Date</th>
                  <th class="__enddate_">End Date</th>
                  <th class="__submitdate_">Submitted Date</th>
                  <th class="__offtime_">Off Time</th>
                  <th class="__status_" colspan="1">Status</th>
                  <th class="__delete_">Delete</th>
                  
                </tr>
              </thead>
              <tbody>
              <%# timeZone = cookies[:time_zone] %>
                <% @events.each do |event| %>
                  <tr>
                    <td>
                      <%= link_to edit_events_path(event.id), class: "event_link" do %>
                        <% if event.category_id == 0 %>
                          <span class="color-warning">-- No category --</span>
                        <% else %>
                          <span><%= event.category_name %></span>
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to edit_events_path(event.id), class: "event_link" do %>
                        <span><%= event.description %></span>
                        <% if event.comment.present? %>
                          <img src="<%= image_url('comment.png', :alt => 'comment') %>" class="icon_comment">
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to user_events_path(event.user.slug), class: "event_link" do %>
                        <span><%= event.user.full_name %></span>
                      <% end %>
                    </td>
                    
                    <% str_start = Time.use_zone(@time_zone) {event.start_D} %>
                    <% parse_start = DateTime.parse(str_start) %>

                    <td data-sort="<%= parse_start.strftime("%Y%m%d%H%M%s") %>">
                      <%= link_to edit_events_path(event.id), class: "event_link" do %>
                        <time><%= str_start %></time>
                      <% end %>
                    </td>

                    <% str_end = Time.use_zone(@time_zone) {event.end_D} %>
                    <% parse_end = DateTime.parse(str_end) %>
                    <td data-sort="<%= parse_end.strftime("%Y%m%d%H%M%s") %>">
                      <%= link_to edit_events_path(event.id), class: "event_link" do %>
                        <time><%= str_end %></time>
                      <% end %>
                    </td>

                    <% str_submit = Time.use_zone(@time_zone) {event.created_D} %>
                    <% parse_submit = DateTime.parse(str_submit) %>
                    <td data-sort="<%= parse_submit.strftime("%Y%m%d%H%M%s") %>">
                      <%= link_to edit_events_path(event.id), class: "event_link" do %>
                        <time><%= str_submit %></time>
                      <% end %>
                    </td>

                    <td>
                      <%= link_to edit_events_path(event.id), class: "event_link" do %>
                        <span><%= event.event_off_time.round(2) %></span>
                      <% end %>
                    </td>

                    <td>
                      <div class="row">
                        <% if current_user.admin? %>
                          <% if event.approved? %>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <button class="btn btn-success btn-changed change_status" data-toggle="modal" data-target="#confirm-event" data-id="<%= event.id %>" data-status="3" data-category="<%= event.category.try(:id) %>"><span>Approved</span></button>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-id="<%= event.id %>" data-status="2" data-category="<%= event.category.try(:id) %>"><span>Deny</span></button>
                            </div>
                          <% elsif event.denied? %>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-id="<%= event.id %>" data-status="3" data-category="<%= event.category.try(:id) %>"><span>Approve</span></button>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <button class="btn btn-danger btn-changed change_status" data-toggle="modal" data-target="#confirm-event" data-id="<%= event.id %>" data-status="2" data-category="<%= event.category.try(:id) %>"><span>Denied</span></button>
                            </div>
                          <% elsif event.canceled? %>
                            <div class="col-md-12 col-sm-12">
                              <span class="event_status btn btn-warning" disabled data-toggle="tooltip" title="Canceled.">Canceled</span>
                            </div>
                          <% else %>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-id="<%= event.id %>" data-status="3" data-category="<%= event.category.try(:id) %>"><span>Approve</span></button>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-id="<%= event.id %>" data-status="2" data-category="<%= event.category.try(:id) %>"><span>Deny</span></button>
                            </div>
                          <% end %>

                        <% elsif current_user.manager? %>
                          <% if event.approved? %>
                            <div class="col-md-12 col-sm-12">
                              <span class="event_status btn btn-success" disabled data-toggle="tooltip" title="Already approved. Only admin can change this state.">Approved</span>
                            </div>
                          <% elsif event.denied? %>
                            <div class="col-md-12 col-sm-12">
                              <span class="event_status btn btn-danger" disabled data-toggle="tooltip" title="Already denied. Only admin can change this state.">Denied</span>
                            </div>
                          <% elsif event.canceled? %>
                            <div class="col-md-12 col-sm-12">
                              <span class="event_status btn btn-warning" disabled data-toggle="tooltip" title="Canceled.">Canceled</span>
                            </div>
                          <% else %>
                            <% if event.user.manager? %>
                              <div class="col-md-12 col-sm-12">
                                <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-id="<%= event.id %>" data-status="1" data-category="<%= event.category.try(:id) %>"><span>Cancel</span></button>
                              </div>
                            <% else %>
                              <div class="col-lg-6 col-md-12 col-sm-12">
                                <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-id="<%= event.id %>" data-status="3" data-category="<%= event.category.try(:id) %>"><span>Approve</span></button>
                              </div>
                              <div class="col-lg-6 col-md-12 col-sm-12">
                                <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-id="<%= event.id %>" data-status="2" data-category="<%= event.category.try(:id) %>"><span>Deny</span></button>
                              </div>
                            <% end %>
                          <% end %>
                        <% else %>
                          <% if event.approved? %>
                            <div class="col-md-12 col-sm-12">
                              <span class="event_status btn btn-success" disabled data-toggle="tooltip" title="Already approved. Only admin can change this state.">Approved</span>
                            </div>
                          <% elsif event.denied? %>
                            <div class="col-md-12 col-sm-12">
                              <span class="event_status btn btn-danger" disabled data-toggle="tooltip" title="Already denied. Only admin can change this state.">Denied</span>
                            </div>
                          <% elsif event.canceled? %>
                            <div class="col-md-12 col-sm-12">
                              <span class="event_status btn btn-warning" disabled data-toggle="tooltip" title="Canceled by you.">Canceled</span>
                            </div>
                          <% else %>
                            <div class="col-md-12 col-sm-12">
                              <button class="btn btn-basic change_status" data-toggle="modal" data-target="#confirm-event" data-id="<%= event.id %>" data-status="1" data-category="<%= event.category.try(:id) %>"><span>Cancel</span></button>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    </td>
                    <% if current_user.admin? %>
                      <td>
                        <div class="row">
                          <div class="col-md-12 col-sm-12">
                              <button class="btn btn-basic delete_event" data-toggle="modal" data-target="#confirm-delete"  data-id="<%= event.id %>"><span>Delete</span></button>
                            </div>
                        </div>
                      </td>
                    <% else %>
                      <% if event.pending? %>
                        <td>
                          <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <button class="btn btn-basic delete_event" data-toggle="modal" data-target="#confirm-delete"  data-id="<%= event.id %>"><span>Delete</span></button>
                              </div>
                          </div>
                        </td>
                      <% else %>
                        <td></td>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- calendar modal -->
<div id="EventNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">New Event</h4>
      </div>
      <div class="modal-body">
        <div id="testmodal" style="padding: 5px 20px;">
          <div class="add-group">
            <label class="col-sm-3 col-xs-3 control-label">Category</label>
            <div class="col-sm-9 col-xs-9">
              <% if !current_user.employee? %>
                <%= select("category", "id", Category.all.collect {|u| [u.name, u.id]}.sort, {prompt: 'Select', selected: @category_default_first_id}, {class: "form-control", required: true}) %>
              <% else %>
                  <%= select("category", "id", Category.all.reject {|u| u.default_option != true}.collect {|u| [u.name, u.id]}.sort, {prompt: 'Select', selected: @category_default_first_id}, {class: "form-control", required: true}) %>
                <%#= select("creator", "id", current_user.collect {|u| [u.full_name, u.id]})%>
              <% end %>
            </div>
          </div>
          <div class="add-group">
            <label class="col-sm-3 col-xs-3 control-label">Description</label>
            <div class="col-sm-9 col-xs-9">
              <textarea class="form-control" rows="4" id="descr" name="descr"></textarea>
            </div>
          </div>
          <div class="add-group">
            <label class="col-sm-3 col-xs-3 control-label">Pick Date</label>
            <div class="col-sm-9 col-xs-9">
              <input type="text" name="datetimes" id="date-ranger" class="form-control date-ranger" />
            </div>
          </div>
          <div class="add-group">
            <label class="col-sm-3 col-xs-3 control-label">Employee</label>
            <div class="col-sm-9 col-xs-9">
              <% if current_user.admin? %>
                <%= select("creator", "id", User.all.collect {|u| [ u.full_name_role, u.id ] }.group_by{ |u| u.first[0,1].upcase }.sort, {prompt: 'Select', selected: current_user.id}, {class: "form-control", required: true}) %>
              <% elsif current_user.manager? %>
                <%= select("creator", "id",  current_user.find_my_employees.collect {|u| [u.full_name_role, u.id ]}.group_by{ |u| u.first[0,1].upcase }.sort, {prompt: 'Select', selected: current_user.id}, {class: "form-control", required: true}) %>
              <% else %>
                <select class="form-control">
                  <option value="<%= current_user.id %>"><%= current_user.full_name %></option>
                </select>
                <%#= select("creator", "id", current_user.collect {|u| [u.full_name, u.id]})%>
              <% end %>
            </div>
          </div>
          <div class="add-group">
            <label class="col-sm-3 col-xs-3 control-label">Timezone</label>
            <div class="col-sm-9 col-xs-9 control-label">
              <select class="form-control" name="event[creator_tz]" id="creator_tz">
                <option value="0">Use your timezone</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary add_event">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
      </div>
  
      <div class="modal-body">
        <p>You are about to delete one event, this procedure is irreversible.</p>
        <p>Do you want to proceed?</p>
        <p class="debug-url"></p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger btn-ok">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm-event" tabindex="-1" role="dialog" aria-labelledby="myModalEventLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalEventLabel">Confirm Approve</h4>
      </div>
  
      <div class="modal-body">
        <p class="last-label">You are about to approve one event.</p>
        <p>Do you want to proceed?</p>
        <p class="debug-url"></p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a class="btn btn-ok btn-eventConfirm">Approve</a>
      </div>
    </div>
  </div>
</div>
