<div class="report-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Report</h3>
    </div>

  </div>

  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="pick_date">
          <%= form_tag report_filter_path, {method: "get", class: "report_form"} do %>
            <input type="hidden" name="start_date">
            <input type="hidden" name="end_date">
            <div class="field">
              <label for="filter_date">Pick Date</label>
              <input type="text" name="daterange" id="filter_date" class="form-control" value="" placeholder="" />
            </div>
            <div class="field">
              <label for="category">Category</label>
              <%= select("category", "id", Category.all.collect {|u| [u.name, u.id]}.sort, {include_blank: 'All', selected: @category_ids}, {class: "form-control", id: "report_cateogry", multiple: true}) %>
            </div>
            <%= submit_tag "View", class: "btn btn-primary view-report" %>
          <% end %>
        </div>
        <div class="tabset">
          <!-- Tab 1 -->
          <input type="radio" name="tabset" id="tab-approved" aria-controls="tab-approved" checked>
          <label for="tab-approved">Approved Events(<%= @reports_approved.count %>)</label>
          <!-- Tab 2 -->
          <input type="radio" name="tabset" id="tab-pending" aria-controls="tab-pending">
          <label for="tab-pending">Pending Events(<%= @reports_pending.count %>)</label>
          <!-- Tab 3 -->
          <input type="radio" name="tabset" id="tab-denied" aria-controls="tab-denied">
          <label for="tab-denied">Denied Events(<%= @reports_denied.count %>)</label>
          <!-- Tab 4 -->
          <input type="radio" name="tabset" id="tab-canceled" aria-controls="tab-canceled">
          <label for="tab-canceled">Canceled Events(<%= @reports_canceled.count %>)</label>
          
          <div class="tab-panels">
            <section id="tab-approved" class="tab-panel">
              <h2>Result: <%= @reports_approved.count %></h2>
              <table id="approvedReportUsersTable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="__username_">User Name</th>
                    <th class="__category_">Category</th>
                    <th class="__description_">Description</th>
                    <th class="__startdate_">Start Date</th>
                    <th class="__enddate_">End Date</th>
                    <th class="__offtime_">Off Time</th>
                    <th class="__submitdate_">Submitted Date</th>
                  </tr>
                </thead>
                <tbody>
                <%# timeZone = cookies[:time_zone] %>
                  <% @reports_approved.each_with_index do |event, index| %>
                    <tr>
                      <td>
                        <%= link_to user_events_path(event.user.slug), class: "event_link" do %>
                          <span><%= event.user.full_name %></span>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <span><%= event.category_name %></span>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <span><%= event.description %></span>
                          <% if event.comment.present? %>
                            <img src="<%= image_url('comment.png', :alt => 'comment') %>" class="icon_comment">
                          <% end %>
                        <% end %>
                      </td>
                      <% str_start = Time.use_zone(@time_zone) {event.start_D} %>
                      <% parse_start = DateTime.parse(str_start) %>
                      <td data-sort="<%= parse_start.strftime("%Y%m%d%H%M%s") %>">
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <time><%= str_start %></time>
                        <% end %>
                      </td>
                      <% str_end = Time.use_zone(@time_zone) {event.end_D} %>
                      <% parse_end = DateTime.parse(str_end) %>
                      <td data-sort="<%= parse_end.strftime("%Y%m%d%H%M%s") %>">
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <time><%= str_end %></time>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <span><%= event.event_off_time.round(2) %></span>
                        <% end %>
                      </td>
                      <% str_submit = Time.use_zone(@time_zone) {event.created_D} %>
                      <% parse_submit = DateTime.parse(str_submit) %>
                      <td data-sort="<%= parse_submit.strftime("%Y%m%d%H%M%s") %>">
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <time><%= str_submit %></time>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </section>
            <section id="tab-pending" class="tab-panel">
              <h2>Result: <%= @reports_pending.count %></h2>
              <table id="pendingReportUsersTable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="__username_">User Name</th>
                    <th class="__category_">Category</th>
                    <th class="__description_">Description</th>
                    <th class="__startdate_">Start Date</th>
                    <th class="__enddate_">End Date</th>
                    <th class="__offtime_">Off Time</th>
                    <th class="__submitdate_">Submitted Date</th>
                  </tr>
                </thead>
                <tbody>
                <%# timeZone = cookies[:time_zone] %>
                  <% @reports_pending.each_with_index do |event, index| %>
                    <tr>
                      <td>
                        <%= link_to user_events_path(event.user.slug), class: "event_link" do %>
                          <span><%= event.user.full_name %></span>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <span><%= event.category_name %></span>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <span><%= event.description %></span>
                          <% if event.comment.present? %>
                            <img src="<%= image_url('comment.png', :alt => 'comment') %>" class="icon_comment">
                          <% end %>
                        <% end %>
                      </td>
                      <% str_start = Time.use_zone(@time_zone) {event.start_D} %>
                      <% parse_start = DateTime.parse(str_start) %>
                      <td data-sort="<%= parse_start.strftime("%Y%m%d%H%M%s") %>">
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <time><%= str_start %></time>
                        <% end %>
                      </td>
                      <% str_end = Time.use_zone(@time_zone) {event.end_D} %>
                      <% parse_end = DateTime.parse(str_end) %>
                      <td data-sort="<%= parse_end.strftime("%Y%m%d%H%M%s") %>">
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <time><%= str_end %></time>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <span><%= event.event_off_time %></span>
                        <% end %>
                      </td>
                      <% str_submit = Time.use_zone(@time_zone) {event.created_D} %>
                      <% parse_submit = DateTime.parse(str_submit) %>
                      <td data-sort="<%= parse_submit.strftime("%Y%m%d%H%M%s") %>">
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <time><%= str_submit %></time>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </section>
            <section id="tab-denied" class="tab-panel">
              <h2>Result: <%= @reports_denied.count %></h2>
              <table id="deniedReportUsersTable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="__username_">User Name</th>
                    <th class="__category_">Category</th>
                    <th class="__description_">Description</th>
                    <th class="__startdate_">Start Date</th>
                    <th class="__enddate_">End Date</th>
                    <th class="__offtime_">Off Time</th>
                    <th class="__submitdate_">Submitted Date</th>
                  </tr>
                </thead>
                <tbody>
                <%# timeZone = cookies[:time_zone] %>
                  <% @reports_denied.each_with_index do |event, index| %>
                    <tr>
                      <td>
                        <%= link_to user_events_path(event.user.slug), class: "event_link" do %>
                          <span><%= event.user.full_name %></span>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <span><%= event.category_name %></span>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <span><%= event.description %></span>
                          <% if event.comment.present? %>
                            <img src="<%= image_url('comment.png', :alt => 'comment') %>" class="icon_comment">
                          <% end %>
                        <% end %>
                      </td>
                      <% str_start = Time.use_zone(@time_zone) {event.start_D} %>
                      <% parse_start = DateTime.parse(str_start) %>
                      <td data-sort="<%= parse_start.strftime("%Y%m%d%H%M%s") %>">
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <time><%= str_start %></time>
                        <% end %>
                      </td>
                      <% str_end = Time.use_zone(@time_zone) {event.end_D} %>
                      <% parse_end = DateTime.parse(str_end) %>
                      <td data-sort="<%= parse_end.strftime("%Y%m%d%H%M%s") %>">
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <time><%= str_end %></time>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <span><%= event.event_off_time %></span>
                        <% end %>
                      </td>
                      <% str_submit = Time.use_zone(@time_zone) {event.created_D} %>
                      <% parse_submit = DateTime.parse(str_submit) %>
                      <td data-sort="<%= parse_submit.strftime("%Y%m%d%H%M%s") %>">
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <time><%= str_submit %></time>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </section>
            <section id="tab-canceled" class="tab-panel">
              <h2>Result: <%= @reports_canceled.count %></h2>
              <table id="canceledReportUsersTable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="__username_">User Name</th>
                    <th class="__category_">Category</th>
                    <th class="__description_">Description</th>
                    <th class="__startdate_">Start Date</th>
                    <th class="__enddate_">End Date</th>
                    <th class="__offtime_">Off Time</th>
                    <th class="__submitdate_">Submitted Date</th>
                  </tr>
                </thead>
                <tbody>
                <%# timeZone = cookies[:time_zone] %>
                  <% @reports_canceled.each_with_index do |event, index| %>
                    <tr>
                      <td>
                        <%= link_to user_events_path(event.user.slug), class: "event_link" do %>
                          <span><%= event.user.full_name %></span>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <span><%= event.category_name %></span>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <span><%= event.description %></span>
                          <% if event.comment.present? %>
                            <img src="<%= image_url('comment.png', :alt => 'comment') %>" class="icon_comment">
                          <% end %>
                        <% end %>
                      </td>
                      <% str_start = Time.use_zone(@time_zone) {event.start_D} %>
                      <% parse_start = DateTime.parse(str_start) %>
                      <td data-sort="<%= parse_start.strftime("%Y%m%d%H%M%s") %>">
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <time><%= str_start %></time>
                        <% end %>
                      </td>
                      <% str_end = Time.use_zone(@time_zone) {event.end_D} %>
                      <% parse_end = DateTime.parse(str_end) %>
                      <td data-sort="<%= parse_end.strftime("%Y%m%d%H%M%s") %>">
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <time><%= str_end %></time>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <span><%= event.event_off_time %></span>
                        <% end %>
                      </td>
                      <% str_submit = Time.use_zone(@time_zone) {event.created_D} %>
                      <% parse_submit = DateTime.parse(str_submit) %>
                      <td data-sort="<%= parse_submit.strftime("%Y%m%d%H%M%s") %>">
                        <%= link_to edit_events_path(event.id), class: "event_link" do %>
                          <time><%= str_submit %></time>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </section>
          </div>
          
        </div>
      </div>
    </div>
  </div>

</div>

