<div class="summary-dashboard">
  <div class="row tile_count">
    <div class="tile_count1">
      <div class="row">
        <% if current_user.admin? %>
          <div class="col-lg-1 col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
            <div class="count c_main"><%= @total_users_count %></div>
          </div>
        <% end %>
        <div class="col-lg-1 col-md-4 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-clock-o"></i> Total Events</span>
          <div class="count c_main"><%= @total_events %></div>
        </div>
        <div class="col-lg-1 col-md-4 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-clock-o"></i> Approved</span>
          <div class="count green"><%= @approved_events_count %></div>
        </div>
        <div class="col-lg-1 col-md-4 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-clock-o"></i> Denied</span>
          <div class="count c_denied"><%= @denied_events_count %></div>
        </div>
        <div class="col-lg-1 col-md-4 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-clock-o"></i> Canceled</span>
          <div class="count c_canceled"><%= @canceled_events_count %></div>
        </div>
        <div class="col-lg-1 col-md-4 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-clock-o"></i> Pending</span>
          <div class="count"><%= @pending_events_count %></div>
        </div>
        <% if !current_user.admin? %>
          <div div class="col-lg-1 col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Total hours</span>
            <div class="count"><%= current_user.total_off_time_user.round(2) %></div>
          </div>
          <div div class="col-lg-1 col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Allowed hours</span>
            <div class="count">176</div>
          </div>
          <div div class="col-lg-1 col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Mar 1 ~ Sep 30</span>
            <div class="count"><%= current_user.middle_off_time.round(2) %></div>
          </div>
          <div div class="col-lg-1 col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Allowed hours</span>
            <div class="count">96</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    </div>
  </div>

  <div class="row">


    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <% if !current_user.employee? %>
        <div class="x_panel">
          <div class="x_title">
            <h2>The one who is off today</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
              <% if @today_events.count > 0 %>
                <ol class="today_off_user widget">
                  <% @today_events.each_with_index do |event, index| %>
                    <li>
                      <div class="user-block">
                        <a href="<%= user_events_path(event.user.slug) %>">
                          <p><strong><%= event.user.full_name %></strong></p>
                        </a>
                        <a href="<%= edit_events_path(event.id) %>" class="event_link">
                          <p class="title"><span>Category: </span><span><%= event.category_name %></span></p>
                          <p><span>From: </span><span><%= Time.use_zone(@time_zone) {event.start_D} %></span></p>
                          <p><span>To: </span><span><%= Time.use_zone(@time_zone) {event.end_D} %></span></p>
                        </a>
                      </div>
                    </li>
                  <% end %>
                </ol>
              <% else %>
                <p>No one is off today.</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="x_panel">
        <div class="x_title">
          <h2>Recent Events</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="dashboard-widget-content">

            <ul class="list-unstyled timeline widget">
              <% @recent_events.each do |event| %>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title"><a href="<%= edit_events_path(event.id) %>"><strong><%= event.user.full_name %></strong> <span>( <%= event.check_status %> ) </a></h2>
                      <div class="excerpt"><a href="<%= edit_events_path(event.id) %>" ><span>Desc: </span><%= event.description %></a></div>
                      <div><a href="<%= edit_events_path(event.id) %>" ><span>Category: </span><span><%= event.category_name %></span></a></div>
                      <div><a href="<%= edit_events_path(event.id) %>" ><span>From: </span><span><%= Time.use_zone(@time_zone) {event.start_D} %></span></a></div>
                      <div><a href="<%= edit_events_path(event.id) %>" ><span>To: </span><span><%= Time.use_zone(@time_zone) {event.end_D} %></span></a></div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile fixed_height_320">
            <div class="x_title">
              <h2>Event Status</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="filter_option display-flex">
                <h5>Filter</h5>
                <select id="event-filter-option-summary" class="form-control">
                  <option value="all">All</option>
                  <option value="last-month">Last Month</option>
                  <option value="this-month">This Month</option>
                </select>
              </div>
              <div class="widget__summary">
                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span>Approved</span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar cb_approved" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @approved %>%;">
                        <span class="sr-only"><%= @approved %>%</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span><%= @approved %>%</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span>Denied</span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar cb_denied" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @denied %>%;">
                        <span class="sr-only"><%= @denied %>%</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span><%= @denied %>%</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span>Canceled</span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar cb_canceled" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @canceled %>%;">
                        <span class="sr-only"><%= @canceled %>%</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span><%= @canceled %>%</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span>Pending</span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar cb_pending" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @pending %>%;">
                        <span class="sr-only"><%= @pending %>%</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span><%= @pending %>%</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% if current_user.admin? %>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
              <div class="x_title">
                <h2>User Count</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content user_count">
                <table class="" style="width:100%">
                  <tr>
                    <th><h4 class="">Users</h4></th>
                    <th><h4 class="">Count</h4></th>
                    <th><h4 class="">Events Count</h4></th>
                  </tr>
                  <tr>
                    <td><h5><i class="fa fa-user"></i>  Admin </h5></td>
                    <td><%= @admin_count %></td>
                    <td><%= current_user.events.count %>
                  </tr>
                  <tr>
                    <td><h5><i class="fa fa-user"></i>  Manager </h5></td>
                      <td><%= @manager_count %></td>
                      <td><%= @managers_events %></td>
                    </td>
                  </tr>
                  <tr>
                    <td><h5><i class="fa fa-user"></i>  Emloyee </h5></td>
                      <td><%= @employee_count %></td>
                      <td><%= @employees_events %></td>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <% @managers.each do |manager| %>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h2><%= manager.full_name %>'s employees Off Time(Hours)</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content user_count">
                  <table class="" style="width:100%">
                    <tr>
                      <th><h4 class="">Name</h4></th>
                      <th><h4>Total</h4></th>
                      <th><h4 class="">Mar 1 ~ Sep 30</h4></th>
                    </tr>
                    <tr>
                      <td><h5><i class="fa fa-user"></i><a href="<%= user_events_path(manager.slug) %>"><%= manager.full_name %> (Manager)</a></h5></td>
                      <td><%= manager.total_off_time_user.round(2) %></td>
                      <td><%= manager.middle_off_time.round(2) %></td>
                    </tr>
                    <% manager.employees.each do |employee| %>
                      <tr>
                        <td><h5><a href="<%= user_events_path(employee.slug) %>"><i class="fa fa-user"></i><%= employee.full_name %></a></h5></td>
                        <td><%= employee.total_off_time_user.round(2) %></td>
                        <td>	<%= employee.middle_off_time.round(2) %></td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if current_user.manager? %>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
              <div class="x_title">
                <h2>Your employees</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content user_count">
                <table class="" style="width:100%">
                  <tr>
                    <th><h4 class="">Name</h4></th>
                    <th><h4 class="">Event Count</h4></th>
                  </tr>
                  <tr>
                    <td><h5><a href="<%= user_events_path(current_user.slug) %>"><i class="fa fa-user"></i>You(Manager)</a></h5></td>
                    <td><%= current_user.events.count %></td>
                  </tr>
                  <% @self_employees.each do |user| %>
                    <tr>
                      <td><h5><a href="<%= user_events_path(user.slug) %>"><i class="fa fa-user"></i><%= user.full_name %></a></h5></td>
                      <td><%= user.events.count %></td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</div>