<div class="shift-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Shift - <%= @shift.name %></h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_content" id="edit_shift_form">
          <h4><strong>Edit Shift</strong></h4>
          <%= form_for(@shift, url: shift_path(@shift.slug), html: {method: "put", class: 'shift_form'}) do |f| %>
            <div class="field">
              <label for="name">Name *</label>
              <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name', required: true %>
            </div>
            <div class="shift-wrapper">
              <% @shift.timeframes.each.with_index do |t_f,index| %>
                <%= f.fields_for :t_f, t_f do |ff| %>
                  <div class="field display-flex">
                    <div class="field-wrapper">
                      <% if index == 0 %>
                        <label>Week</label><br>
                      <% end %>
                      <%= ff.hidden_field :id, value: ff.object.id, name: "shift[timeframes_attributes][][id]"  %>
                      <%= ff.select :week_name, Date::DAYNAMES, {prompt: 'Select'}, {name: "shift[timeframes_attributes][][week_name]", class: 'form-control change_week', required: true} %>
                    </div>
                    <div class="field-wrapper">
                      <% if index == 0 %>
                        <label>From *</label><br>
                      <% end %>
                      <%= ff.time_field :working_from, name: 'shift[timeframes_attributes][][working_from]', class: 'form-control custom_width working_from', required: true, value: t_f.working_from %>
                    </div>
                    <div class="field-wrapper p_r-0">
                      <% if index == 0 %>
                        <label>To *</label><br>
                      <% end %>
                      <%= ff.time_field :working_to, name: 'shift[timeframes_attributes][][working_to]', class: 'form-control custom_width working_to', required: true, value: t_f.working_to %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="btn-action display-flex">
              <button type="button" class="btn btn-default add_next_week ">Add</button>
              <button type="button" class="btn btn-default delete_last_week ">Delete</button>
            </div>
            <div class="field display-flex">
              <%= submit_tag "Update Shift", class: "btn btn-primary update-shift" %>
              <%= link_to "Back", shifts_path %>
            </div>
          <% end %>
          
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Existing Shifts</strong></h4>
          <table id="shiftTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Count</th>
                <th colspan="1">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @shifts.each do |shift| %>
                <tr class="<%= 'active' if params[:id] == shift.slug %>">
                  <td>
                    <%= link_to edit_shift_path(shift.slug), class: "shift-link" do %>
                      <%= shift.name %>
                    <% end %>
                  </td>
                  <td><%= User.all.where(shift_id: shift.id).count %></td>
                  <td>
                    <%= link_to 'Delete', shift_path(shift.slug), data: { confirm: 'Are you sure?' }, method: :delete %>
                  </td>
                </tr>
              <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <div class="heading">
            <h2>Users</h2>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="shiftUserTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="__title_">Name</th>
                <th class="__email_">Email</th>
                <th class="__username_">Username</th>
                <th class="__role_">Role</th>
                <th class="__shift_">Shift</th>
                <th class="__lunchtime_">Lunchtime</th>
                <th class="__created_">Created at</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.full_name %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.email %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.username %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.user_role %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.shift.try(:name) %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.lunchtime.try(:full_info) %></span>
                    <% end %>
                  </td>
                  <% created_date = Dates.convertedTime(user.created_at, @user.time_zone) %>
                  <% parse_date = DateTime.parse(created_date) %>
                  <td data-sort="<%= parse_date.strftime("%Y%m%d%H%M%s") %>">
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= created_date %></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

