<div class="shift-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Shifts</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Add New Shift</strong></h4>
          <%= form_for(@shift, url: shifts_path, html: {class: 'shift_form'}) do |f| %>
            <div class="field">
              <label for="name">Name *</label>
              <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name', required: true %>
            </div>
            <div class="shift-wrapper">
              <%= f.fields_for :timeframe do |ff| %>
                <div class="field display-flex">
                  <div class="field-wrapper">
                    <label>Week</label><br>
                    <%= ff.select :week_name, Date::DAYNAMES, {prompt: 'Select'}, {name: "shift[timeframes_attributes][][week_name]", class: 'form-control change_week', required: true} %>
                  </div>
                  <div class="field-wrapper">
                    <label>From *</label><br>
                    <%= ff.time_field :working_from, name: 'shift[timeframes_attributes][][working_from]', class: 'form-control custom_width working_from', required: true %>
                  </div>
                  <div class="field-wrapper p_r-0">
                    <label>To *</label><br>
                    <%= ff.time_field :working_to, name: 'shift[timeframes_attributes][][working_to]', class: 'form-control custom_width working_to', required: true %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="btn-action display-flex">
              <button type="button" class="btn btn-default add_next_week ">Add</button>
              <button type="button" class="btn btn-default delete_last_week ">Delete</button>
            </div>
            <%= submit_tag "Add New Shift", class: "btn btn-primary add-shift" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Existing Shifts</strong></h4>
          <table id="shiftTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Count</th>
                <th colspan="1">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @shifts.each do |shift| %>
                <tr>
                  <td>
                    <%= link_to edit_shift_path(shift.slug), class: "shift-link" do %>
                      <%= shift.name %>
                    <% end %>
                  </td>
                  <td><%= User.all.where(shift_id: shift.id).count %></td>
                  <td>
                    <%= link_to 'Delete', shift_path(shift.slug), data: { confirm: 'Are you sure?' }, method: :delete %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

