<div class="shift-dashboard">
  <div class="page-title">
    <div class="title_left">
      <% if current_user.admin? || current_user.shift_perm? %>
        <h3>All Shifts</h3>
      <% else %>
        <h3>Your Shift</h3>
      <% end %>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <% if current_user.admin? || current_user.shift_perm? %>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <h4><strong>List</strong></h4>
            <ul class="list_shifts">
              <% @shifts.each do |shift| %>
                <li><a href="/shifts/view?query=<%= shift.id %>" class="<% if @shift.id == shift.id %>active<% end %>"><%= shift.name %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="show-all">
          <a href="javascript:void(0);" class="all-shifts">Show all</a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <h4><strong><%= @shift.name %></strong></h4>
            <table id="shiftTable" class="table table-striped table-bordered shiftTable">
              <thead>
                <tr>
                  <th>Week</th>
                  <th>From - To</th>
                </tr>
              </thead>

              <tbody>
                <% @shift.timeframes.each do |t_f| %>
                  <tr>
                    <td><%= t_f.week_name %></td>
                    <td><%= Dates.time_12(t_f.working_from, t_f.working_to) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% else %>
      <% if current_user.shift.blank? %>
        <p>Your shift is not present.</p>
        <p>Please contact administrator to complete your profile.</p>
      <% else %>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <h4><strong><%= current_user.shift.name %></strong></h4>
              <table id="shiftTable" class="table table-striped table-bordered shiftTable">
                <thead>
                  <tr>
                    <th>Week</th>
                    <th>From - To</th>
                  </tr>
                </thead>

                <tbody>
                  <% current_user.shift.timeframes.each do |t_f| %>
                    <tr>
                      <td><%= t_f.week_name %></td>
                      <td><%= Dates.time_12(t_f.working_from, t_f.working_to) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if current_user.admin? || current_user.shift_perm? %>
    <div class="row view-all">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <% @shifts.each_with_index do |shift, index| %>
          <div class="x_panel">
            <div class="x_content">
              <h4><strong><%= shift.name %></strong></h4>
              <table id="shiftTable_<%= index %>" class="table table-striped table-bordered shiftTable">
                <thead>
                  <tr>
                    <th>Week</th>
                    <th>From - To</th>
                  </tr>
                </thead>

                <tbody>
                  <% shift.timeframes.each do |t_f| %>
                    <tr>
                      <td><%= t_f.week_name %></td>
                      <td><%= Dates.time_12(t_f.working_from, t_f.working_to) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>