<div class="help-dashboard" id="help-dashboard">
  <div class="page-title">
    <div class="text-center">
      <h1>CVLinens Attendance Calendar Help</h1>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div id="help-main" class="help-main">
  <div class="about-event about-section" id="about-event">
    <div class="page-title">
      <div class="title_left">
        <h3>About Event</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <p>User can create new event on <a href="/calendar" class="help-link">Calendar Page</a> or <a href="/events" class="help-link">Event Page</a>.<br>
            </p>
            <p>The title can't be blank. If title is blank, new event won't be created.</p>
            <p>Admin can choose employee on "Employee" field</p>
            <div class="img-wrapper">
              <img src="<%= image_url('event.png', :alt => 'New Event') %>" class="help-image" >
            </div>
          <p><strong>Note: All employees are allowed to take a maximum of 176 hours (22 days) off in the year from January 1 - December 31. From March 1st through September 30 only 96 hours (12 days) are allowed.</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-category about-section" id="about-category">
    <div class="page-title">
      <div class="title_left">
        <h3>About Category</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <p>Users can choose category when creat event on calendar page or event page.<br>
              If you are not admin user, you can only choose any one of default categories.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-shift about-section" id="about-shift" >
    <div class="page-title">
      <div class="title_left">
        <h3>About Shifts</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row help-view-all">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <% @shifts.each_with_index do |shift, index| %>
          <div class="x_panel">
            <div class="x_content">
              <h4><strong><%= shift.name %></strong></h4>
              <table id="shiftTable_<%= index %>" class="table table-striped table-bordered shiftTable">
                <thead>
                  <tr>
                    <th>Week</th>
                    <th>From - To</th>
                  </tr>
                </thead>

                <tbody>
                  <% shift.timeframes.each do |t_f| %>
                    <tr>
                      <td><%= t_f.week_name %></td>
                      <td><%= Dates.time_12(t_f.working_from, t_f.working_to) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="about-lunchtime about-section" id="about-lunchtime" >
    <div class="page-title">
      <div class="title_left">
        <h3>About Lunchtime</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="x_panel">
          <div class="x_content">
            <h4><strong>Existing Lunchtimes</strong></h4>
            <table id="lunchtimeTable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>From - To</th>
                </tr>
              </thead>

              <tbody>
                <% @lunchtimes.each do |lunchtime| %>
                  <tr>
                    <td>
                      <%= lunchtime.name %>
                    </td>
                    <td>
                      <%= Dates.time_12(lunchtime.lunchtime_from, lunchtime.lunchtime_to) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div div class="about-point about-section" id="about-point">
    <div class="page-title">
      <div class="title_left">
        <h3>About Point</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <h4><strong>Existing Points</strong></h4>
            <table id="pointTable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Point</th>
                </tr>
              </thead>

              <tbody>
                <% @points.each do |point| %>
                  <tr>
                    <td>
                      <%= link_to edit_point_path(point.slug), class: "point-link" do %>
                        <%= point.name %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to edit_point_path(point.slug), class: "point-link" do %>
                        <%= point.description %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to edit_point_path(point.slug), class: "point-link" do %>
                        <%= point.penalty_point %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-consequence about-section" id="about-consequence">
    <div class="page-title">
      <div class="title_left">
        <h3>About Consequence</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <p>CV Linens has implemented a 15 point system policy for our employees. Each employee is given a total of 15 points at the beginning of each calendar year, January 1. (Any employee that starts after January 1 should be prorated for the allowable amount of points.) For every three (3) points accrued by the employee there is a consequence that applies to that employee.</p>
            <h4><strong>Existing consequences</strong></h4>
            <table id="consequenceTable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Flag</th>
                </tr>
              </thead>

              <tbody>
                <% @consequences.each do |consequence| %>
                  <tr>
                    <td>
                      <%= link_to edit_consequence_path(consequence.id), class: "consequence-link" do %>
                        <%= consequence.full_info %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to edit_consequence_path(consequence.id), class: "consequence-link" do %>
                        <%= consequence.description %>
                      <% end %>
                    </td>
                    <td>
                      <div class="flag-color-svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: <%= consequence.flag_color %>" viewBox="0 0 24 24"><path style="stroke: #000000; stroke-width: 0.3;" d="M4 24h-2v-24h2v24zm18-22h-16v12h16l-4-5.969 4-6.031z"/></svg>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>