
<div class="animate form login_form">
  <section class="logo">
    <img src="<%= image_url('logo.png', :alt => 'CVLinens') %>" >
  </section>
  <section class="login_content">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1>Log in</h1>

      <div class="field">
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'form-control', placeholder: 'Username' %>
      </div>
 
      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Password' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-default submit' %>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'reset_pass' %>
        <% end %>
      </div>
    <% end %>


    <div class="clearfix"></div>
    <div class="separator">
      <%# <p class="change_link">New to site? %>
        <%#- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%#= link_to "Create Account", new_registration_path(resource_name) %><br />
        <%# end %>
      <%# </p> %>
      <div class="clearfix"></div>
      <p>Need Help? <a href="/help">About App</a></p>
      <br />
      <div>
        <p>©2020 All Rights Reserved. CV Linens!</p>
      </div>
    </div>
  </section>
</div>
