<div class="roles-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>User Roles</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>New Role</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row"> 
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= form_for(@role, url: roles_path, html: {class: 'role_form'}) do |f| %>
                <div class="field">
                  <label for="name">Name *</label>
                  <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name', required: true %>
                </div>
                <div class="field">
                  <label>Permissions</label>
                  <div class="field-wrapper">
                    <div class="single-field">
                      <label class="w_100 b_b-1-e">Full Permission <small>(This is the permission for admin.)</small></label>
                      <div class="row">
                        <div class="single-field-item col-md-4 col-sm-6 col-xs-12">
                          <%= f.check_box :full_access, class: "form-control check_full" %>
                          <%= f.label :full_access, class: 'w_100 m_b-0' %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="field-wrapper">
                    <div class="single-field">
                      <label class="w_100 b_b-1-e">General <small>(Basic permission for employee)</small></label>
                      <div class="row">
                        <div class="single-field-item col-md-4 col-sm-6 col-xs-12">
                          <%= f.check_box :event_creation, class: "form-control check_field" %>
                          <%= f.label :event_creation, 'Event - "Create / Update / Delete"', class: 'w_100 m_b-0' %>
                        </div>
                      </div>
                    </div>
                    <div class="single-field">
                      <label class="w_100 b_b-1-e">Special</label>
                      <div class="row">
                        <div class="single-field-item col-md-4 col-sm-6 col-xs-12">
                          <%= f.check_box :user, class: "form-control check_field" %>
                          <%= f.label :user, 'User', class: 'w_100 m_b-0' %>
                        </div>
                        <div class="single-field-item col-md-4 col-sm-6 col-xs-12">
                          <%= f.check_box :user_role, class: "form-control check_field" %>
                          <%= f.label :user_role, 'User role', class: 'w_100 m_b-0' %>
                        </div>
                        <div class="single-field-item col-md-4 col-sm-6 col-xs-12">
                          <%= f.check_box :department, class: "form-control check_field" %>
                          <%= f.label :department, 'Department', class: 'w_100 m_b-0' %>
                        </div>
                        <div class="single-field-item col-md-4 col-sm-6 col-xs-12">
                          <%= f.check_box :event_status, class: "form-control check_field" %>
                          <%= f.label :event_status, 'Event - "Approve / Deny"', class: 'w_100 m_b-0' %>
                        </div>
                        <div class="single-field-item col-md-4 col-sm-6 col-xs-12">
                          <%= f.check_box :category, class: "form-control check_field" %>
                          <%= f.label :category, 'Category', class: 'w_100 m_b-0' %>
                        </div>
                        <div class="single-field-item col-md-4 col-sm-6 col-xs-12">
                          <%= f.check_box :holiday, class: "form-control check_field" %>
                          <%= f.label :holiday, 'Holiday and Holiday type', class: 'w_100 m_b-0' %>
                        </div>
                      </div>
                    </div>
                    <div class="single-field">
                      <label class="w_100 b_b-1-e">Point System</label>
                      <div class="row">
                        <div class="single-field-item col-md-4 col-sm-6 col-xs-12">
                          <%= f.check_box :shift, class: "form-control check_field" %>
                          <%= f.label :shift, 'Shift', class: 'w_100 m_b-0' %>
                        </div>
                        <div class="single-field-item col-md-4 col-sm-6 col-xs-12">
                          <%= f.check_box :lunchtime, class: "form-control check_field" %>
                          <%= f.label :lunchtime, 'Lunchtime', class: 'w_100 m_b-0' %>
                        </div>
                        <div class="single-field-item col-md-4 col-sm-6 col-xs-12">
                          <%= f.check_box :point, class: "form-control check_field" %>
                          <%= f.label :point, 'Point', class: 'w_100 m_b-0' %>
                        </div>
                        <div class="single-field-item col-md-4 col-sm-6 col-xs-12">
                          <%= f.check_box :penalty, class: "form-control check_field" %>
                          <%= f.label :penalty, 'Penalty', class: 'w_100 m_b-0' %>
                        </div>
                        <div class="single-field-item col-md-4 col-sm-6 col-xs-12">
                          <%= f.check_box :consequence, class: "form-control check_field" %>
                          <%= f.label :consequence, 'Consequence', class: 'w_100 m_b-0' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <%= submit_tag "Add New Role", class: "btn btn-primary add-role" %>
              <% end%>
            </div>
          </div>
        </div>
      </div>
      <div class="x_panel">
        <div class="x_title">
          <h2>Existing Roles</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="roleTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th></th>
                <th class="text-center">Full Permission</th>
                <th class="text-center">General</th>
                <th colspan="6" class="text-center">Special</th>
                <th colspan="5" class="text-center">Point System</th>
                <th class="text-center">Users</th>
              </tr>
              <tr>
                <th class="text-center">Role name</th>
                <th class="text-center">Full acess</th>
                <th class="text-center">Event (create)</th>
                <th class="text-center">User</th>
                <th class="text-center">User role</th>
                <th class="text-center">Department</th>
                <th class="text-center">Event (approve)</th>
                <th class="text-center">Category</th>
                <th class="text-center">Holiday</th>
                <th class="text-center">Shift</th>
                <th class="text-center">Lunchtime</th>
                <th class="text-center">Point</th>
                <th class="text-center">Penalty</th>
                <th class="text-center">Consequence</th>
                <th class="text-center">User counts</th>
              </tr>
            </thead>

            <tbody>
              <% @roles.each do |role| %>
                <tr>
                  <td class="text-center">
                    <% if role.id != 3 %>
                      <%= link_to edit_role_path(role.id), class: "role_link" do %>
                        <%= role.name %>
                      <% end %>
                    <% else %>
                      <%= role.name %>
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if role.full_access? %>
                      <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="role_icon" >
                    <% else %>
                      —
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if role.event_creation? %>
                      <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="role_icon" >
                    <% else %>
                      —
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if role.user? %>
                      <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="role_icon" >
                    <% else %>
                      —
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if role.user_role? %>
                      <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="role_icon" >
                    <% else %>
                      —
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if role.department? %>
                      <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="role_icon" >
                    <% else %>
                      —
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if role.event_status? %>
                      <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="role_icon" >
                    <% else %>
                      —
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if role.category? %>
                      <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="role_icon" >
                    <% else %>
                      —
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if role.holiday? %>
                      <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="role_icon" >
                    <% else %>
                      —
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if role.shift? %>
                      <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="role_icon" >
                    <% else %>
                      —
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if role.lunchtime? %>
                      <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="role_icon" >
                    <% else %>
                      —
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if role.point? %>
                      <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="role_icon" >
                    <% else %>
                      —
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if role.penalty? %>
                      <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="role_icon" >
                    <% else %>
                      —
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if role.consequence? %>
                      <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="role_icon" >
                    <% else %>
                      —
                    <% end %>
                  </td>
                  <td class="text-center">
                    <%= role.users.count %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
