<div class="consequence-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Consequences</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-4 col-sm-5 col-xs-12">
      <div class="x_panel">
        <div class="x_content" id="edit_consequence_form">
          <h4><strong>Update Consequence</strong></h4>
          <%= form_for(@consequence, url: consequence_path(@consequence.id), html: {method: "put", class: "consequence_form"}) do |f| %>
            <div class="field">
              <label for="reach_point">Reach Point *</label>
              <%= f.number_field :reach_point, class: "form-control", required: true, min: "0" %>
            </div>
            <div class="field">
              <label for="description">Description *</label>
              <%= f.text_area :description, class: "form-control", required: true, rows: "4" %>
            </div>
            <div class="field">
              <label for="flag_color">Flag Color *</label>
              <%= f.color_field :flag_color, class: "form-control", required: true %>
            </div>
            <div class="field display-flex">
              <%= f.submit "Update consequence", class: "btn btn-primary update-consequence" %>
              <%= link_to "Back", consequences_path %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-7 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Existing consequences</strong></h4>
          <table id="consequenceTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Flag</th>
                <th>Count</th>
                <th colspan="1">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @consequences.each do |consequence| %>
                <tr class="<%= 'active' if params[:id] == consequence.id.to_s %>">
                  <td>
                    <%= link_to edit_consequence_path(consequence.id), class: "consequence-link" do %>
                      <%= consequence.full_info %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_consequence_path(consequence.id), class: "consequence-link" do %>
                      <%= consequence.description %>
                    <% end %>
                  </td>
                  <td>
                    <div class="flag-color-svg">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: <%= consequence.flag_color %>" viewBox="0 0 24 24"><path style="stroke: #000000; stroke-width: 0.3;" d="M4 24h-2v-24h2v24zm18-22h-16v12h16l-4-5.969 4-6.031z"/></svg>
                    </div>
                  </td>
                  <td><%= User.all.where(consequence_id: consequence.id).count %></td>
                  <td>
                    <%= link_to 'Delete', consequence_path(consequence.id), data: { confirm: 'Are you sure?' }, method: :delete %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

