<div class="consequence-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Consequences</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-4 col-sm-5 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Add New Consequence</strong></h4>
          <%= form_tag new_consequence_path, {method: "get", class: "consequence_form"} do %>
            <div class="field">
              <label for="reach_point">Reach Point *</label>
              <input type="number" name="reach_point" class="form-control" id="reach_point" value="" placeholder="" required="required" min="0" />
            </div>
            <div class="field">
              <label for="description">Description *</label>
              <textarea name="description" id="description" class="form-control" required="required" rows="4"></textarea>
            </div>
            <div class="field">
              <label for="flag_color">Flag Color *</label>
              <input type="color" name="flag_color" class="form-control" id="flag-color" required="required">
            </div>
            <%= submit_tag "Add New consequence", class: "btn btn-primary add-consequence" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-7 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Existing consequences</strong></h4>
          <table id="consequenceTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Flag</th>
                <th>Count</th>
                <th colspan="1">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @consequences.each do |consequence| %>
                <tr>
                  <td>
                    <%= link_to edit_consequence_path(consequence.id), class: "consequence-link" do %>
                      <%= consequence.full_info %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_consequence_path(consequence.id), class: "consequence-link" do %>
                      <%= consequence.description %>
                    <% end %>
                  </td>
                  <td>
                    <div class="flag-color-svg">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: <%= consequence.flag_color %>" viewBox="0 0 24 24"><path style="stroke: #000000; stroke-width: 0.3;" d="M4 24h-2v-24h2v24zm18-22h-16v12h16l-4-5.969 4-6.031z"/></svg>
                    </div>
                  </td>
                  <td><%= User.all.where(consequence_id: consequence.id).count %></td>
                  <td>
                    <%= link_to 'Delete', consequence_path(consequence.id), data: { confirm: 'Are you sure?' }, method: :delete %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

