<div id="reset_password" class="">
  <section class="login_content">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <h1>Reset Password</h1>
      
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <!-- <%= f.label :email %><br /> -->
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
      </div>

      <div class="actions">
        <p>Send me reset password instructions</p>
        <%= f.submit "Submit", class: 'btn btn-default submit' %>
      </div>
    <% end %>

    <div class="separator">
      <%- if controller_name != 'sessions' %>
        <%= link_to "Log in", new_session_path(resource_name), class: 'btn' %>
      <% end %>
<%# currently signup feature is disabled %>
      <%#- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%#= link_to "Sign up", new_registration_path(resource_name), class: 'btn' %>
      <%# end %>
    </div>

    <!-- <%= render "devise/shared/links" %>-->
  </section>
</div>