<div class="penalty-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Penalties</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>New Penalty</strong></h4>
          <%= form_for(@penalty, url: penalties_path, html: {class: "penalty_form"}) do |f| %>
            <div class="field">
              <label for="user_id">User *</label>
              <%= f.select :user_id, User.all.collect {|u| [u.full_name, u.id]}.group_by{ |u| u.first[0,1].upcase }.sort, {prompt: 'Select'}, {class: "form-control", required: true} %>
            </div>
            <div class="field">
              <label for="penalty_point">Point *</label>
              <%= f.select :point_id, @enabled_points.collect {|u| [u.name, u.id]}.sort, {prompt: 'Select'}, {class: "form-control", required: true} %>
            </div>
            <div class="field">
              <label for="description">Description *</label>
              <%= f.text_area :description, class: 'form-control', rows: 4, required: true %>
            </div>
            <div class="field">
              <label for="apply_date">Apply date *</label>
              <%= f.date_field :apply_date, class: 'form-control', value: Date.today %>
            </div>
           
            <%= submit_tag "Apply Penalty To User", class: "btn btn-primary add-point" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-7 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Penalty Rule</strong></h4>
          <table id="pointTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Point</th>
              </tr>
            </thead>

            <tbody>
              <% @enabled_points.each do |point| %>
                <tr>
                  <td><%= point.name %></td>
                  <td><%= point.description %></td>
                  <td><%= point.penalty_point %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Penalty History</strong></h4>
          <table id="penaltyTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>User Name</th>
                <th>Penalty Rule</th>
                <th>Point</th>
                <th>Description</th>
                <th>Applied Date</th>
                <th colspan="2" class="text-center">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @penalties.each do |penalty| %>
                <tr>
                  <td>
                    <p><%= penalty.user.full_name %></p>
                  </td>
                  <td>
                    <p><%= penalty.point.name %></p>
                  </td>
                  <td>
                    <p><%= penalty.point.penalty_point %></p>
                  </td>
                  <td>
                    <p><%= penalty.description %></p>
                  </td>
                  <% created_date = Dates.convertedTime(penalty.apply_date, current_user.time_zone) %>
                  <% parse_date = DateTime.parse(created_date) %>
                  <td data-sort="<%= parse_date.strftime("%Y%m%d%H%M%s") %>">
                    <span><%= created_date %></span>
                  </td>
                  <td class="text-center action">
                    <%= link_to "Edit", edit_penalty_path(penalty.id) %>
                  </td>
                  <td class="text-center action">
                    <%= link_to "Delete", penalty_path(penalty.id), data: { confirm: 'Are you sure?' }, method: "delete" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

