<div class="users-penalty-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Your Penalties</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <div class="clearfix"></div>
          <div class="user-penalty display-flex">
            <div><strong>Total Penalty Point</strong>: <%= current_user.total_penalty %></div>
            <div class="flex-1"><strong>Point Limit</strong>: <%= current_user.user_point_limit %></div>
            <% if current_user.consequence_id != 0 %>
              <div class="flag-color-svg">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: <%= current_user.consequence.flag_color %>" viewBox="0 0 24 24"><path style="stroke: #000000; stroke-width: 0.3;" d="M4 24h-2v-24h2v24zm18-22h-16v12h16l-4-5.969 4-6.031z"/></svg>
              </div>
            <% end %>
          </div>
          <% if current_user.consequence_id != 0 %>
            <div class="penalty-warning" style="background: <%= current_user.consequence.flag_color %>">
              <div>Warning: You reached to <%= current_user.consequence.full_info %></div>
            </div>
          <% end %>
        </div>
        <div class="x_content">
          <table id="userPenaltyTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Point</th>
                <th>Description</th>
                <th>Applied Date</th>
              </tr>
            </thead>

            <tbody>
              <% current_user.penalties.each do |penalty| %>
                <tr>
                  <td>
                    <p><%= penalty.point.name %></p>
                  </td>
                  <td>
                    <p><%= penalty.point.penalty_point %></p>
                  </td>
                  <td>
                    <p><%= penalty.description %></p>
                  </td>
                  <td>
                    <p><%= Dates.convertedTime(penalty.apply_date, current_user.time_zone) %></p>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
