<div class="penalty-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Users</h3>
    </div>
  </div>

  <div class="clearfix"></div>
  <% if @filtered_datas.present? %>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <h4><strong>Notifications</strong></h4>
            <table id="penaltyNotificationTable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>User Name</th>
                  <th>Reached Penalty Point</th>
                  <th>User Point Limit(yearly)</th>
                  <th>Total Penalty counts</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <% @filtered_datas.each do |user, consequence| %>
                  <tr>
                    <td>
                      <p><%= user.full_name %></p>
                    </td>
                    <td>
                      <p><%= user.total_penalty %></p>
                    </td>
                    <td>
                      <p><%= user.user_point_limit %></p>
                    </td>
                    <td>
                      <p><%= user.penalties.count %></p>
                    </td>
                    <td>
                      <div class="flag-consequence display-flex">
                        <div class="flag-color-svg">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: <%= consequence.flag_color %>" viewBox="0 0 24 24"><path style="stroke: #000000; stroke-width: 0.3;" d="M4 24h-2v-24h2v24zm18-22h-16v12h16l-4-5.969 4-6.031z"/></svg>
                        </div>
                        <p><%= consequence.try(:full_info) %></p>
                      </div>
                    </td>
                    <td>
                      <button type="button" class="btn btn-warning btn-confirm-penalty" data-user-id="<%= user.id %>" data-consequence-id="<%= consequence.id %>">Confirm</button>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>User Penalty Summary</strong></h4>
          <table id="penaltySummaryTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>User Name</th>
                <th>Total Penalty</th>
                <th>User Point Limit(yearly)</th>
                <th>Total Penalty counts</th>
                <th>Consequence</th>
                <th>Created at</th>
                <th>Detail view</th>
              </tr>
            </thead>

            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <p><%= user.full_name %></p>
                  </td>
                  <td>
                    <p><%= user.total_penalty %></p>
                  </td>
                  <td>
                    <p><%= user.user_point_limit %></p>
                  </td>
                  <td>
                    <p><%= user.penalties.count %></p>
                  </td>
                  <td class="consequence-step" data-id="<%= user.id %>">
                    <% if user.consequence.present? %>
                    <div class="flag-consequence display-flex">
                      <div class="flag-color-svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: <%= user.consequence.flag_color %>" viewBox="0 0 24 24"><path style="stroke: #000000; stroke-width: 0.3;" d="M4 24h-2v-24h2v24zm18-22h-16v12h16l-4-5.969 4-6.031z"/></svg>
                      </div>
                      <p><%= user.consequence.try(:full_info) %></p>
                    </div>
                    <% end %>
                  </td>
                  <td>
                    <p><%= Dates.convertedTime(user.created_at, current_user.time_zone) %></p>
                  </td>
                  <td>
                    <%= link_to "Detail view", penalties_user_path(user.slug), class: "btn btn-basic" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

