//success checkmark
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.table-responsive {
  border: none;
}
.checkmark {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 0 auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}


//Nav bar
.nav_menu {
  padding: 0 10px;
}

.right_col.inactive_user {
  height: calc(100vh - 51px);
  background: #fff !important;
  h2 {
    margin: 0 auto;
    padding: 10px;
  }
  .sus_img {
    img {

      height: 500px;
    }
  }
  & + footer {
    background: #f7f7f7;
  }
}

// Sign up
section {
  &.logo {
    img {
      width: 350px;
    }
  }
}

.login_content {
  .user_field {
    display: flex;
    align-items: center;

    input {
      width: 50%;

      &:first-child {
        margin-right: 15px;
      }
    }

  }
}

.float-none {
  float: none !important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
//display-flex style
.display-flex {
  display: flex;
  align-items: center;
}
.flex-1 {
  flex: 1;
}

.w_50 {
  width: 50% !important;
}

.w_30 {
  width: 33.33% !important;
}

.w_100 {
  width: 100% !important;
}

.b_b-1-e {
  border-bottom: 1px solid #eee;
}

.m_b-0 {
  margin-bottom: 0 !important;
}
.m_b-5 {
  margin-bottom: 5px !important;
}
.p_r-0 {
  padding-right: 0 !important;
}
.p_t-10 {
  padding-top: 10px !important;
}


// color

.link_hover_color {
  text-decoration: underline;
  &:hover {
    color: #cd113d;
    text-decoration: underline;
  }
}
.c_main {
  color: #2A3F54;
}
.c_approved {
  color: green;
}
.c_denied {
  color: #E48D8A;
}
.c_canceled {
  color: #BCBD22;
}
.c_pending {
  color: grey;
}

.cb_main {
  background: #2A3F54;
}
.cb_approved {
  background: green;
}
.cb_denied {
  background: #E48D8A;
}
.cb_canceled {
  background: #BCBD22;
}
.cb_pending {
  background: grey;
}

.color-warning {
  color: #cd113d;
}

.color-000 {
  color: #000;
}

// Nav Sidebar

#sidebar-menu {
  .menu_section {
    .nav.side-menu {
      & > li {
        & > a {
          margin-bottom: 0;
          padding: 10px 20px;
          width: 100%;

          &.active {
            background: #ddd;
            color: #cd113d !important;
            
          }
        }
        &:hover {
          background: #ddd;
          a {
            color: #cd113d !important;
          }
        }
      }
    }
  }
}

.popover-title {
  font-weight: bold;
}

// main page 

.site_title {
  img {
    width: 200px;
  }
}
// calendar page

.calendar-dashboard {
  padding: 10px 20px 0;
  .title_left {
    width: 45%;
  }
  .fc-title {
    font-size: 14px;
  }
  .fc-more-popover {
    .fc-header {
      padding: 4px 4px;
    }
    .fc-h-event {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 3px;
    }
  }
  .top_search {
    .filter_option {
      h5 {
        margin-right: 20px;
      }
    }
  }
  .icon-status {
    display: flex;
    align-items: center;
    margin: 5px 5px 6px 0;
    float: left;

    .icon {
      display: flex;
      align-items: center;
      .dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: inline-block;
      }
      .icon-text {
        margin-left: 5px;
        margin-right: 20px;
        color: #73879C;
      }
    }
    .icon-approved {
      .dot {
        background-color: green;
      }
    }
    .icon-denied {
      .dot {
        background-color: #E48D8A;
      }
    }
    .icon-canceled {
      .dot {
        background-color: #BCBD22;
      }
    }
    .icon-pending {
      .dot {
        background-color: Grey;
      }
    }
  }
}

.date-ranger {
  width: 100%;
}

// event page

.event-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
  }
  .page-title {
    .title_left {
      display: flex;
      align-items: center;
      h3 {
        margin-right: 10px;
      }
      button {
        margin-bottom: 0;
        font-size: 12px;
        padding: 4px 8px;
      }
      .full-off-time {
        margin-left: 15px;
        i {
          font-size: 15px;
          margin-right: 5px;
        }
      }
    }
  }

  .__title_ {
    width: 10% !important;
  }
  .__description_ {
    width: 15% !important;
  }

  .x_panel {
    .x_title {
      display: flex;
      align-items: center;
      .heading {
        flex: 1;
      }
      .filter_option {
        display: flex;
        align-items: center;
        h5 {
          margin-right: 20px;
        }
      }
    }
    .btn {
      width: 100%;
    }
    input[type=search] {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right: 0;
      box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
      border-radius: 25px;
      padding-left: 20px;
      border: 1px solid rgba(221, 226, 232, 0.49);
      padding: 6px 12px;
    }
  }

  .event-header {
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #eee;
    // margin-left: -20px;
    // margin-right: -20px;
    .sort_by {
      display: block;
      &:hover {
        color: #cd113d;
      }
    }
  }
  .event-body {
    // margin-left: -20px;
    // margin-right: -20px;
    padding: 20px 20px;

    .btn {
      font-size: 12px;
      padding: 6px;
    }
    .event_status {
      width: 100%;
      font-weight: bold;
      &.btn-success:hover {
        background: #26B99A;
        border: 1px solid #169F85;
      }
    }
    .change_status {
      &.btn {
        margin-right: 0;
        width: 100%;
      }
      &.btn-changed {
        font-weight: bold;
      }
    }

    .event_link {
      display: block;
      width: 100%;

      &:hover {
        color: #cd113d;
      }
    }
  }
}

.start_d {
  margin-right: 7px;
  float: right;
}
.start_t {
  float: right;
}

.icon_comment {
  width: 17px;
  float: right;
}

//detail page

.detail-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
  }
  .fc-list-view {
    border-color: #ddd;
    table {
      &.fc-list-table {
        table-layout: auto;
        width: 100%;
        box-sizing: border-box;
        // table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 1em;

        tbody {
          .fc-list-heading {
            td {
              background: #eee;
              .fc-list-heading-main {
                float: left;
                .created_by {
                  color: #cd113d;
                }
              }
              .fc-list-heading-alt {
                float: right;
              }
            }
          }
          .fc-list-item {
            td {
              background: #fff;
            }
            .fc-list-item-marker {
              padding-right: 0;
              .event-approved {
                background-color: green;
              }
              .event-denied {
                background-color: #E48D8A;
              }
              .event-canceled {
                background-color: #BCBD22;
              }
              .event-pending {
                background-color: Grey;
              }
            }
            .fc-list-item-category {
              font-size: 18px;
            }
            .check_status {
              float: right;
            }
          }
          .fc-list-subitem  {
            .fc-list-item-description {
              font-size: 16px;
            }
          }
          .s_desc {
            padding-top: 13px;
            border-top: 1px solid #ddd;
          }
          .fc-list-item-comment-input {
            label {
              font-weight: normal;
            }
            textarea[name=comment] {
              display: block;
              resize: vertical;
              width: calc(100% - 30px);
              border: 1px solid #ddd;

              &:focus {
                outline-style: inherit;
                outline-width: 1px;
              }
            }
            .btn-comment {
              margin-top: 10px;
              color: #73879C;
            }
          }
          .fc-list-comment {
            .s_desc {
              padding-left: 10px;;
            }
            .comment_label {
              font-style: italic;
              font-weight: normal;
            }
            .comment {
              textarea {
                display: block;
                resize: vertical;
                width: calc(100% - 30px);
                border: 1px solid #ddd;
                &:focus {
                  outline-style: inherit;
                  outline-width: 1px;
                }
              }
            }
            .btn-edit-comment {
              border: none;
              background: none;
              margin-top: 5px;
              padding-left: 0;
              margin-left: 8px;
              text-decoration: underline;

              &:hover {
                color: #cd113d;
              }
            }
            .btn-add-comment {
              border: none;
              background: none;
              margin-top: 5px;
              padding-left: 0;
              margin-left: 8px;
              text-decoration: underline;
              display: block;
              &:hover {
                color: #cd113d;
              }
            }
          }
        }
      }
    }
  }
  .container {
    border-top: 1px solid #eee;
    margin-top: 10px;
    padding-top: 10px;

    &>.row {
      display: flex;
      align-items: center;
      &>div.col-md-5.col-sm-5 {
        flex: 1;
        font-style: italic;
        font-size: 16px;
      }
      &>div.col-md-2.col-sm-2 {
        float: right;
        margin-right: 20px;
        &>.row {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .event_status {
    width: 100%;
    font-weight: bold;
    &.btn-success:hover {
      background: #26B99A;
      border: 1px solid #169F85;
    }
  }
  .change_status, .edit_event, .delete_event {
    &.btn {
      margin-right: 0;
      width: 100%;
      font-size: 12px;
      padding: 6px;
      margin-bottom: 0;
    }
    &.btn-changed {
      font-weight: bold;
    }
  }

  .event_link {
    display: block;
    width: 100%;

    &:hover {
      color: #cd113d;
    }
  }
}

.container-wrapper {
  padding: 20px 20px;
}
#CalenderModalNew, #CalenderModalEdit, #CalenderModalView {
  textarea {
    resize: vertical;
  }
  .modal-footer {
    padding: 15px 41px;
  }
}

#EventNew, #EventEdit {
  .add-group {
    display: table;
    content: " ";
    width: 100%;
    margin-top: 10px;

    label {
      height: 34px;
      padding: 6px 12px;
      margin-bottom: 0;
    }
    textarea {
      resize: vertical;
    }


  }
  .modal-footer {
    padding: 15px 41px;
  }
}

// Users dashboard

.users-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
  }
  .title_left {
    display: flex;
    align-items: center;
    h3 {
      margin-right: 10px;
    }
    button {
      font-size: 12px;
      padding: 4px 8px;
      margin-bottom: 0;
    }
  }
  .active-icon, .inactive-icon {
    width: 17px;
    height: 17px;
    min-width: 17px;
    min-height: 17px;
  }
  table.dataTable.no-footer {
    border: 1px solid #ddd;
  }
  #userTable_length {
    select {
      padding: 6px;
    }
  }
  #userTable_filter {
    input[type=search] {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right: 0;
      box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
      border-radius: 25px;
      padding-left: 20px;
      border: 1px solid rgba(221, 226, 232, 0.49);
      padding: 6px 12px;
    }
  }

  .user_link {
    display: block;
    
  }
  tr:hover {
    .user_link {
      a {
        color: #cd113d;
      }
    }
    .user_event_link {
      a {
          color: #cd113d;
      }
    }
  }

}

#pswd_info {
  display:none;
  position:absolute;
  bottom:-115px;
  bottom: -115px\9; /* IE Specific */
  right:55px;
  width:250px;
  padding:15px;
  background:#fefefe;
  font-size:.875em;
  border-radius:5px;
  box-shadow:0 1px 3px #ccc;
  border:1px solid #ddd;
  &:before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
  }
  h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
  }
  ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align: left;
    padding-left: 20px;
  }

  .invalid {
    background-image: image-url("invalid.png");
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
  }
  .valid {
    background-image: image-url("valid.png");
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
  }

}

// User dashboard

.user-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
  }
  .title_left {
    display: flex;
    align-items: center;
    h3 {
      margin-right: 10px;
    }
  }
  
  .x_panel {
    width: 50%;
    transform: translateX(-50%);
    margin-left: 50%;

    select {
      display: block;
      width: 100%;
      height: 34px;
      line-height: 1.428571429;
      background-color: #fff;
      background-image: none;
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      padding: 7px 12px;
      border-radius: 3px;
      box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
      -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
      border: 1px solid #c8c8c8;
      color: #777;
      font-size: 14px;
      flex: 1;
    }
    
    .field {
      margin-bottom: 20px;
      .field_wrapper {
        display: flex;
        align-items: center;

        label {
          width: 200px;
          text-align: left;
          margin: 0;
        }
        input {
          margin: 0;
          flex: 1;
        }
      }
      i {
        display: block;
        text-align: left;
        padding-left: 40%;
      }
    }
    .x_content {
      h2 {
        font: normal 25px Helvetica, Arial, sans-serif;
        letter-spacing: -0.05em;
        line-height: 20px;
        margin: 10px 0 30px;
        &:before {
          background: #7e7e7e;
          left: 0;
          content: "";
          height: 1px;
          position: absolute;
          top: 10px;
          width: 20%;
        }
        &:after {
          background: #7e7e7e;
          right: 0;
          content: "";
          height: 1px;
          position: absolute;
          top: 10px;
          width: 20%;
        }
      }
    }
  }
  .suspend-wrapper {
    p {
      text-align: left;
    }
    textarea {
      resize: vertical;
      border: 1px solid #ccc;
      width: 100%;
      margin-bottom: 15px;
    }
  }
}
.form-control[disabled], fieldset[disabled] .form-control {
  cursor: default;
}
// validation email when create new user
.email_wrapper {
  .email_html {
    text-align: left;
    .rejected_email {
      color: #cd113d;
    }
    .approved_email {
      color: green;
    }
  }
}

// validation username when create new user
.username_wrapper {
  .username_html {
    text-align: left;
    .rejected_username {
      color: #cd113d;
    }
    .approved_username {
      color: green;
    }
  }
}

// User new modal

#UserNew {
  .field {
    margin-bottom: 20px;
    .field_wrapper {
      display: flex;
      align-items: center;

      label {
        width: 200px;
        text-align: left;
        margin: 0;
      }
      input {
        margin: 0;
        flex: 1;
      }
    }
    i {
      display: block;
      text-align: left;
      padding-left: 40%;
    }
  }
  .modal-footer {
    padding-right: 0;
    border-top: none;
  }
  .x_panel {
    border: none;
  }

  select {
    display: block;
    width: 100%;
    height: 34px;
    line-height: 1.428571429;
    background-color: #fff;
    background-image: none;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    padding: 7px 12px;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    border: 1px solid #c8c8c8;
    color: #777;
    font-size: 14px;
    flex: 1;
  }
  
}

// summary dashboard
.summary-dashboard {
  padding: 10px 20px 10px;
  .tile_count {
    margin-top: 0;
    margin: 0;
    .tile_stats_count {
      padding: 13px 10px 0 20px;
    }
  }
  .widget_summary {
    align-items: center;
    margin-bottom: 8px;
    .w_left {
      span {
        font-size: 14px;
      }
    }
  }
  .progress {
    margin-bottom: 0;
  }
  .user_count {
    p {
      font-size: 14px;
      margin: 0;
    }
  }

  .dashboard-widget-content {
    max-height: 350px;
    overflow-y: auto;
    a {
      display: block;
      &:hover {
        color: #cd113d;
      }
    }

    .today_off_user {
      padding-left: 18px;
      font-size: 15px;
      li {
        margin-bottom: 10px;
      }
      .user-block {
        font-size: 15px;
        p {
          margin-bottom: 0;
        }
        span:first-child {
          margin-right: 10px;
        }
        .event_link {
          font-size: 14px;
          .title {
            display: flex;
          }
        }
      }
    }

    .byline {
      display: flex;
      align-self: center;
      a:first-child {
        margin-right: 5px;
      }
    }

  }

  .filter_option {
    margin-bottom: 15px;
    h5 {
      flex: 1;
    }
    #event-filter-option-summary {
      width: 50%;
    }
  }

  .x_panel {
    .fa {
      margin-right: 5px;
    }
    a {
      &:hover {
        color: #cd113d;
      }
    }
  }
}

// edit own user form 

.edit_user_form {
  select {
    display: block;
    width: 100%;
    height: 34px;
    line-height: 1.428571429;
    background-color: #fff;
    background-image: none;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    padding: 7px 12px;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    border: 1px solid #c8c8c8;
    color: #777;
    font-size: 14px;
    flex: 1;
  }
  
  .field {
    margin-bottom: 20px;
    .field_wrapper {
      display: flex;
      align-items: center;

      .field_with_errors {
        margin: 0;
        flex: 1;

        &:first-child {
          width: 170px;
          text-align: left;
          margin: 0;
          flex: 0;
        }
      }
      label {
        width: 170px;
        text-align: left;
        margin: 0;
      }
      input {
        margin: 0;
        flex: 1;
      }
    }
    i, em {
      display: block;
      text-align: left;
      padding-left: 170px;
    }
  }
}

// dateTable style
.dataTables_filter {
  width: 25%;
}
div.dataTables_wrapper div.dataTables_length select {
  padding: 6px;
}

table.dataTable thead {
  .sorting_desc:after {
    content: "";
  }
  .sorting:after {
    content: "";
  }
  .sorting_asc:after {
    content: "";
  }
}

tr.active {
  td {
    background-color: #FFFF00 !important;
  }
}

.event_link {
  display: block;
  width: 100%;

  &:hover {
    color: #cd113d;
  }
}

// Report dashboard

.report-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
  }
  .page-title {
    .title_left {
      display: flex;
      align-items: center;
      h3 {
        margin-right: 10px;
      }
      button {
        margin-bottom: 0;
        font-size: 12px;
        padding: 4px 8px;
      }
    }
  }


  .__title_ {
    width: 15% !important;
  }
  .__description_ {
    width: 25% !important;
  }

  .x_panel {
    .btn {
      width: 100%;
    }
    .tab-panels {
      input[type=search] {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: 0;
        box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
        border-radius: 25px;
        padding-left: 20px;
        border: 1px solid rgba(221, 226, 232, 0.49);
        padding: 6px 12px;
      }
    }
  }
  
  .field {
    margin-bottom: 15px;
  }

  .event-header {
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #eee;
    // margin-left: -20px;
    // margin-right: -20px;
    .sort_by {
      display: block;
      &:hover {
        color: #cd113d;
      }
    }
  }
  .event-body {
    // margin-left: -20px;
    // margin-right: -20px;
    padding: 20px 20px;

    .btn {
      font-size: 12px;
      padding: 6px;
    }
    .event_status {
      width: 100%;
      font-weight: bold;
      &.btn-success:hover {
        background: #26B99A;
        border: 1px solid #169F85;
      }
    }
    .change_status {
      &.btn {
        margin-right: 0;
        width: 100%;
      }
      &.btn-changed {
        font-weight: bold;
      }
    }

    .event_link {
      display: block;
      width: 100%;

      &:hover {
        color: #cd113d;
      }
    }
  }

  .tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
  }
  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
  }
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #06c;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #06c;
  }
  
  .tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
  }
  
  .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
  }

  .form-control {
    width: 210px;
  }

  .pick_date {
    margin-bottom: 30px;
    .view-report {
      margin: 0;
      width: inherit;
    }
  }
}

// Category dashboard

.category-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
  }

  .category_form {
    .field {
      margin-bottom: 15px;

      textarea {
        resize: vertical;
      }
      #default_option {
        margin: 0;
        margin-right: 10px;
      }
      .default_label {
        margin: 0;
        flex: 1;
      }
    }
  }
  .category-link {
    &:hover {
      color: #cd113d;
    }
  }
  .update-category {
    margin: 0;
    margin-right: 15px;
  }

  .update-category + a{
    padding: 6px 30px;

    &:hover {
      color: #cd113d;
    }
  }
  input[type=search] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
    border-radius: 25px;
    padding-left: 20px;
    border: 1px solid rgba(221, 226, 232, 0.49);
    padding: 6px 12px;
  }
  #categoryEventTable {
    .event_status {
      width: 100%;
    }
  }

  .category_icon {
    width: 17px;
    height: 17px;
    min-width: 17px;
    min-height: 17px;
  }
}


.more_wrapper {
  text-align: right;
  display: block;
  .see_more {
    margin-top: 0 !important;
    margin-right: 0 !important;
    &:hover {
      color: #cd113d;
    }
  }
}

// Shift dashboard

.shift-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
  }

  .list_shifts {
    padding-left: 0;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    li {
      list-style: none;
      font-size: 16px;
      a {
        display: block;
        padding: 5px;
        &:hover {
          background: #eee;
        }
        &.active {
          background: #eee;
        }
      }
    }
  }
  .shiftTable {
    th:first-child {
      width: 40%;
    }
  }
  .shift_form {
    .field {
      margin-bottom: 15px;

      .field-wrapper {
        width: 100%;
        padding-right: 10px;
        .custom_width {
          // width: calc(100% - 10px);
        }

        input[type=time] {
          letter-spacing: 1px;
        }
        .custom-form-control {
          padding: 6px 12px 6px 0;
          height: 34px;
          box-shadow: none;
          width: 100%;
          font-size: 14px;
          display: block;
        }
        .btn {
          margin: 0
        }
      }
    }
  }
  .shift-link {
    &:hover {
      color: #cd113d;
    }
  }
  .update-shift {
    margin: 0;
    margin-right: 15px;
  }

  .update-shift + a{
    padding: 6px 30px;

    &:hover {
      color: #cd113d;
    }
  }
  input[type=search] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
    border-radius: 25px;
    padding-left: 20px;
    border: 1px solid rgba(221, 226, 232, 0.49);
    padding: 6px 12px;
  }
  #shiftUserTable {
    .event_status {
      width: 100%;
    }
  }

  .show-all {
    display: block;
    text-align: right;
    .all-shifts {
      padding: 10px 0 10px 10px;
      &:hover {
        color: #cd113d;
      }
    }
  }
  .view-all {
    display: none;
  }


}

// Lunchtime dashboard

.lunchtime-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
  }

  .lunchtime_form {
    .field {
      margin-bottom: 15px;

      .field-wrapper {
        width: 100%;

        #lunchtime_from {
          width: calc(100% - 10px);
        }
        input[type=time] {
          letter-spacing: 1px;
        }
      }
    }
  }
  .lunchtime-link {
    &:hover {
      color: #cd113d;
    }
  }
  .update-lunchtime {
    margin: 0;
    margin-right: 15px;
  }

  .update-lunchtime + a{
    padding: 6px 30px;

    &:hover {
      color: #cd113d;
    }
  }
  input[type=search] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
    border-radius: 25px;
    padding-left: 20px;
    border: 1px solid rgba(221, 226, 232, 0.49);
    padding: 6px 12px;
  }
  #lunchtimeEventTable {
    .event_status {
      width: 100%;
    }
  }
}

// Point dashboard

.point-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
    .title_left {
      width: 45%;
    }
  }

  .history-link {
    &:hover {
      color: #cd113d;
    }
  }
 
  .update_history {
    padding-left: 6px;
    padding-top: 6px;

    .update-header {
      list-style: none;
    }
    .update-title {
      color: #0078D7;
      margin: 0;
    }
    .update-time {
      margin-left: 41px;
    }
    .content-list {
      padding: 0;
      margin-left: 41px;
      li {
        list-style: none;
      }
    }
    /* Style the caret/arrow */
    .c-caret {
      cursor: pointer;
      user-select: none; /* Prevent text selection */
      display: flex;
      align-items: center;
    }

    /* Create the caret/arrow with a unicode, and style it */
    .c-caret::before {
      // content: "\25B6";
      color: black;
      background-image: image-url("details_open.png");
      content: "";
      display: inline-block;
      margin-right: 6px;
      width: 35px;
      height: 35px;
      background-repeat: no-repeat;
      background-position: center;
    }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .c-caret-down::before {
      background-image: image-url("details_close.png");
      content: "";
      width: 35px;
      height: 35px;
      background-repeat: no-repeat;
      background-position: center;
    }
    /* Hide the nested list */
    .n-nested {
      display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .activated {
      display: block;
    }
  }

  .point_form {
    .field {
      margin-bottom: 15px;

      textarea {
        resize: vertical;
      }
      #default_option {
        margin: 0;
        margin-right: 10px;
      }
      .default_label {
        margin: 0;
        flex: 1;
      }
    }
  }
  .point-link {
    &:hover {
      color: #cd113d;
    }
  }
  .update-point {
    margin: 0;
    margin-right: 15px;
  }

  .update-point + a{
    padding: 6px 30px;

    &:hover {
      color: #cd113d;
    }
  }
  input[type=search] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
    border-radius: 25px;
    padding-left: 20px;
    border: 1px solid rgba(221, 226, 232, 0.49);
    padding: 6px 12px;
  }
  #pointEventTable {
    .event_status {
      width: 100%;
    }
  }
}

//Penalty dashboard

.penalty-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
  }

  .penalty_form {
    .field {
      margin-bottom: 15px;

      textarea {
        resize: vertical;
      }
      #default_option {
        margin: 0;
        margin-right: 10px;
      }
      .default_label {
        margin: 0;
        flex: 1;
      }
    }
  }
  .penalty-link {
    &:hover {
      color: #cd113d;
    }
  }
  .update-penalty + a{
    padding: 6px 30px;

    &:hover {
      color: #cd113d;
    }
  }
  .action {
    a:hover {
      color: #cd113d;
    }
  }
  .btn-confirm-penalty {
    width: 100%;
  }
}

// users-penalty-dashboard

.users-penalty-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
  }
  .title_left {
    display: flex;
    align-items: center;
    h3 {
      margin-right: 10px;
    }
  }

  .x_panel {
    width: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
  }

  .user-penalty {
    font-size: 16px;
    div:first-child {
      margin-right: 30px;
    }
  }
  .penalty-warning {
    font-size: 15px;
    padding: 5px;
    div:first-child {
      margin-right: 15px;
      font-weight: bold;
    }
  }
}

// holiday
.holiday-dashboard, .holiday_type-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
  }
  .title_left {
    display: flex;
    align-items: center;
    h3 {
      margin-right: 10px;
    }
  }

  .x_panel {
    width: 100%;
    .field {
      margin-bottom: 15px;
    }
    a {
      &:hover {
        color: #cd113d;
      }
    }
    input[type=submit] + a {
      padding: 6px 30px;
    }
  }

  .radio_wrapper {
    .w_100 {
      margin-bottom: 10px;
    }
    input[type=radio] {
      margin: 0 auto;
      margin-right: 5px;
      &:hover {
        cursor: pointer;
      }
    }
    label {
      margin: 0 auto;
      flex: 1;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .holiday__time {
    .field-wrapper {
      width: 100%;
      #holidaytype_start_time {
        width: calc(100% - 10px);
      }
    }
  }
}


//consequence dashboard

.consequence-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
  }
  .title_left {
    display: flex;
    align-items: center;
    h3 {
      margin-right: 10px;
    }
  }

  .x_panel {
    width: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    .field {
      margin-bottom: 15px;
      textarea {
        resize: vertical;
      }
    }
  }
  .update-consequence + a{
    padding: 6px 30px;

    &:hover {
      color: #cd113d;
    }
  }
}

.flag-color-svg {
  width: 24px;
  margin-right: 10px;
}


// help dashboard
.nav-help-page {
  .left_col {
    position: fixed;
  }
}
.help-dashboard {
  text-transform: uppercase;
}
.help-main {
  padding: 5px 20px;
  // max-height: 885px;
  // overflow-y: auto;
  max-width: 1024px;
  margin: 0 auto;
  .page-title {
    width: 100%;
    
  }

  .help-link {
    color: #ac1103;

    &:hover {
      color: #cd1103
    }
  }

  .img-wrapper {
    text-align: center;
    padding: 20px;
    .help-image {
     max-width: 768px; 
    }
  }

  .about-shift {
    .shiftTable {
      th:first-child {
        width: 40%;
      }
    }
  }
}

// Role Dashboard

.roles-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
  }
  .title_left {
    display: flex;
    align-items: center;
    h3 {
      margin-right: 10px;
    }
  }
  .field {
    margin-bottom: 15px;
  }

  .single-field {
    padding-left: 15px;
    margin-bottom: 20px;

    .single-field-item {
      display: flex;
      align-items: center;
      padding: 5px;
      padding-left: 10px;

      input[type=checkbox] {
        width: 15px;
        height: 15px;
        min-width: 15px;
        min-height: 15px;
        margin: 0;
        padding: 0;
        margin-right: 8px;
      }
    }
  }
  
  .role_icon {
    width: 17px;
    height: 17px;
    min-width: 17px;
    min-height: 17px;
  }

  .role_link {
    &:hover {
      color: #cd113d;
    }
  }
  .update-role {
    margin: 0;
    margin-right: 15px;
  }

  .update-role + a{
    padding: 6px 30px;

    &:hover {
      color: #cd113d;
    }
  }
  .special-note {
    color: #cd113d; 
    display: flex;
  }
}

.modal.deleting .modal-content:before {
  content: 'Deleting...';
  text-align: center;
  line-height: 155px;
  font-size: 20px;
  background: rgba(0, 0, 0, .8);
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #EEE;
  z-index: 1000;
}

// Department dashboard
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #c8c8c8 !important;
}

.department-dashboard {
  padding: 10px 20px 10px;
  .page-title {
    padding: 0;
  }
  .active-icon {
    width: 17px;
    height: 17px;
    min-width: 17px;
    min-height: 17px;
  }

  .department_form {
    .field {
      margin-bottom: 15px;

      textarea {
        resize: vertical;
      }
      #default_option {
        margin: 0;
        margin-right: 10px;
      }
      .default_label {
        margin: 0;
        flex: 1;
      }
    }
  }
  .department-link {
    display: block;
    flex: 1;
    &:hover {
      color: #cd113d;
    }
  }
  .update-department {
    margin: 0;
    margin-right: 15px;
  }

  .update-department + a{
    padding: 6px 30px;

    &:hover {
      color: #cd113d;
    }
  }

  .department_icon {
    width: 17px;
    height: 17px;
    min-width: 17px;
    min-height: 17px;
  }
  input[type=search] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
    border-radius: 25px;
    padding-left: 20px;
    border: 1px solid rgba(221, 226, 232, 0.49);
    padding: 6px 12px;
  }
  .department-label {
    border-bottom: 1px solid #8c8c8c;
    .d-name {
      flex: 1;
      padding-left: 41px;
    }
    .d-action {
      padding: 0 30px;
    }
    .d-users {
      text-align: right;
    }

  }
  /* Remove default bullets */
  ul, #allDepartments {
    list-style-type: none;
  }

  ul {
    padding-inline-start: 0;
    margin-inline-start: 30px;
  }
  /* Remove margins and padding from the parent ul */
  #allDepartments {
    margin: 0;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #8c8c8c;
    & > li:first-child {
      &:before {
        background: transparent;
      }
      &.selected > .c-caret {
        border-top: none;
      }
    }
    li {
      > *:not(ul) {
        position: relative;
        z-index: 2;
      }

      &:before {
        content: "";
        left: 0;
        width: 100%;
        position: absolute;
        height: 1px;
        background: #d8d8d8;
        z-index: 2;
      }
    }
  }

  /* Style the caret/arrow */
  .c-caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    display: flex;
    align-items: center;
  }

  /* Create the caret/arrow with a unicode, and style it */
  .c-caret::before {
    // content: "\25B6";
    color: black;
    background-image: image-url("details_open.png");
    content: "";
    display: inline-block;
    margin-right: 6px;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .c-caret-down::before {
    background-image: image-url("details_close.png");
    content: "";
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Hide the nested list */
  .n-nested {
    display: none;
  }

  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .activated {
    display: block;
  }

  .no_child {
    margin-left: 41px;
    height: 35px;
    display: flex;
    // align-items: center;
    > a, > span {
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
    }
  }

  .department-remove {
    padding: 0 30px;
    &:hover {
      color: #cd113d;
    }
  }

  #allDepartments {
    li.selected > .c-caret {
      background-color: #FFFF00;
      border-top: 1px solid #d8d8d8d8;
    }
    li.selected.no_child {
      background-color: #FFFF00;
    }
    .releated_count {
      padding: 0 30px;
    }
  }
}
@media screen and (min-width: 768px) {
  #eventTable {
    .__status_ {
      min-width: 165px;
    }
  }
}
@media screen and (max-width: 767px) {
  .dataTables_filter {
    width: inherit;
  }
  .dataTables_length {
    width: inherit;
  }
  .dataTables_info {
    width: 100%;
    margin-bottom: 15px;
  }
  .dataTables_paginate {
    padding-bottom: 15px;
  }

  #eventTable {
    .__status_ {
      min-width: inherit;
    }
    .col-lg-6.col-md-12.col-sm-12 {
      float: none !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .calendar-dashboard {
    .icon-status {
      display: block;
    }
  }
}