<div class="category-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Category - <%= @category.name %></h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-4 col-sm-5 col-xs-12">
      <div class="x_panel">
        <div class="x_content" id="edit_category_form">
          <h4><strong>Edit Category</strong></h4>
          <%= form_tag category_path(@category.slug), {method: "put", class: "category_form"} do %>
            <div class="field">
              <label for="category_name">Name *</label>
              <input type="text" name="category_name" class="form-control" id="category_name" value="<%= @category.name %>" placeholder="" required="required" />
            </div>
            <div class="field">
              <label for="category_description">Description</label>
              <textarea class="form-control" rows="4" id="category_description" name="category_description"><%= @category.description %></textarea>
            </div>
            <div class="field display-flex">
              <% if @category.default_option.present? %>
                <input type="checkbox" name="default_option" id="default_option" checked />
              <% else %>
                <input type="checkbox" name="default_option" id="default_option" />
              <% end %>
              <label for="default_option" class="default_label">Selectable for everyone?</label>
            </div>
            <div class="field display-flex">
              <%= submit_tag "Update Category", class: "btn btn-primary update-category" %>
              <%= link_to "Back", categories_path %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-7 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Existing Categories</strong></h4>
          <table id="categoryTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Selectable for everyone?</th>
                <th>Count</th>
                <th colspan="1">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @categories.each do |category| %>
                <tr class="<%= 'active' if params[:id] == category.slug %>">
                  <td>
                    <%= link_to edit_category_path(category.slug), class: "category-link" do %>
                      <%= category.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_category_path(category.slug), class: "category-link" do %>
                      <%= category.description %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_category_path(category.slug), class: "category-link" do %>
                      <% if category.default_option? %>
                        <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="category_icon" >
                      <% else %>
                        <img src="<%= image_url('invalid.png', alt: 'Yes') %>" class="category_icon" >
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= Event.all.where(category_id: category.id).count %></td>
                  <td>
                    <%= link_to 'Delete', category_path(category.slug), data: { confirm: 'Are you sure?' }, method: :delete %>
                  </td>
                </tr>
              <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <div class="heading">
            <h2>Events</h2>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="categoryEventTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="__category_">Category</th>
                <th class="__description_">Description</th>
                <th class="__username_">User Name</th>
                <th class="__startdate_">Start Date</th>
                <th class="__enddate_">End Date</th>
                <th class="__submitdate_">Submitted Date</th>
                <th class="__status_">Status</th>
              </tr>
            </thead>
            <tbody>
            <%# timeZone = cookies[:time_zone] %>
              <% @events.each do |event| %>
                <tr>
                  <td>
                    <%= link_to edit_events_path(event.id), class: "event_link" do %>
                      <% if event.category_id == 0 %>
                        <span>-- No category --</span>
                      <% else %>
                        <span><%= event.category_name %></span>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_events_path(event.id), class: "event_link" do %>
                      <span><%= event.description %></span>
                      <% if event.comment.present? %>
                        <img src="<%= image_url('comment.png', :alt => 'comment') %>" class="icon_comment">
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to user_events_path(event.user.slug), class: "event_link" do %>
                      <span><%= event.user.full_name %></span>
                    <% end %>
                  </td>
                  <% str_start = Time.use_zone(@time_zone) {event.start_D} %>
                  <% parse_start = DateTime.parse(str_start) %>

                  <td data-sort="<%= parse_start.strftime("%Y%m%d%H%M%s") %>">
                    <%= link_to edit_events_path(event.id), class: "event_link" do %>
                      <time><%= str_start %></time>
                    <% end %>
                  </td>

                  <% str_end = Time.use_zone(@time_zone) {event.end_D} %>
                  <% parse_end = DateTime.parse(str_end) %>
                  <td data-sort="<%= parse_end.strftime("%Y%m%d%H%M%s") %>">
                    <%= link_to edit_events_path(event.id), class: "event_link" do %>
                      <time><%= str_end %></time>
                    <% end %>
                  </td>
                  
                  <% str_submit = Time.use_zone(@time_zone) {event.created_D} %>
                  <% parse_submit = DateTime.parse(str_submit) %>
                  <td data-sort="<%= parse_submit.strftime("%Y%m%d%H%M%s") %>">
                    <%= link_to edit_events_path(event.id), class: "event_link" do %>
                      <time><%= str_submit %></time>
                    <% end %>
                  </td>

                  <td>
                    <div class="row">
                      <% if event.approved? %>
                        <div class="col-md-12 col-sm-12">
                          <span class="btn btn-success event_status" disabled data-toggle="tooltip" title="Already approved.">Approved</span>
                        </div>
                      <% elsif event.denied? %>
                        <div class="col-md-12 col-sm-12">
                          <span class="btn btn-danger event_status" disabled data-toggle="tooltip" title="Already denied.">Denied</span>
                        </div>
                      <% elsif event.canceled? %>
                        <div class="col-md-12 col-sm-12">
                          <span class="btn btn-warning event_status" disabled data-toggle="tooltip" title="Canceled">Canceled</span>
                        </div>
                      <% else %>
                        <div class="col-md-12 col-sm-12">
                          <span class="btn btn-default event_status" disabled data-toggle="tooltip" title="Pending">Pending</span>
                        </div>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

