<div class="category-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Categories</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-4 col-sm-5 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Add New Category</strong></h4>
          <%= form_tag new_category_path, {method: "get", class: "category_form"} do %>
            <div class="field">
              <label for="category_name">Name *</label>
              <input type="text" name="category_name" class="form-control" id="category_name" value="" placeholder="" required="required" />
            </div>
            <div class="field">
              <label for="category_description">Description</label>
              <textarea class="form-control" rows="4" id="category_description" name="category_description"></textarea>
            </div>
            <div class="field display-flex">
              <input type="checkbox" name="default_option" id="default_option" />
              <label for="default_option" class="default_label">Selectable for everyone?</label>
            </div>
            <%= submit_tag "Add New Category", class: "btn btn-primary add-category" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-7 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Existing Categories</strong></h4>
          <table id="categoryTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Selectable for everyone?</th>
                <th>Count</th>
                <th colspan="1">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @categories.each do |category| %>
                <tr>
                  <td>
                    <%= link_to edit_category_path(category.slug), class: "category-link" do %>
                      <%= category.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_category_path(category.slug), class: "category-link" do %>
                      <%= category.description %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_category_path(category.slug), class: "category-link" do %>
                      <% if category.default_option? %>
                        <img src="<%= image_url('valid.png', alt: 'Yes') %>" class="category_icon" >
                      <% else %>
                        <img src="<%= image_url('invalid.png', alt: 'Yes') %>" class="category_icon" >
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= category.event.count %></td>
                  <td>
                    <%= link_to 'Delete', category_path(category.slug), data: { confirm: 'Are you sure?' }, method: :delete %>
                  </td>
                </tr>
              <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

