<div class="lunchtime-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Lunchtime - <%= @lunchtime.name %></h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-4 col-sm-5 col-xs-12">
      <div class="x_panel">
        <div class="x_content" id="edit_lunchtime_form">
          <h4><strong>Edit Lunchtime</strong></h4>
          <%= form_tag lunchtime_path(@lunchtime.slug), {method: "put", class: "lunchtime_form"} do %>
            <div class="field">
              <label for="lunchtime_name">Name *</label>
              <input type="text" name="lunchtime_name" class="form-control" id="lunchtime_name" value="<%= @lunchtime.name %>" placeholder="" required="required" />
            </div>
            <div class="field display-flex">
              <div class="field-wrapper">
                <label for="lunchtime_from">From *</label><br>
                <input type="time" id="lunchtime_from" name="lunchtime_from" class="form-control" required value="<%= @lunchtime.lunchtime_from %>">
              </div>
              <div class="field-wrapper">
                <label for="lunchtime_to">To *</label><br>
                <input type="time" id="lunchtime_to" name="lunchtime_to" class="form-control" required value="<%= @lunchtime.lunchtime_to %>">
              </div>

            </div>
            <div class="field display-flex">
              <%= submit_tag "Update Lunchtime", class: "btn btn-primary update-lunchtime" %>
              <%= link_to "Back", lunchtimes_path %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-7 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Existing Lunchtimes</strong></h4>
          <table id="lunchtimeTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>From - To</th>
                <th>Count</th>
                <th colspan="1">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @lunchtimes.each do |lunchtime| %>
                <tr class="<%= 'active' if params[:id] == lunchtime.slug %>">
                  <td>
                    <%= link_to edit_lunchtime_path(lunchtime.slug), class: "lunchtime-link" do %>
                      <%= lunchtime.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_lunchtime_path(lunchtime.slug), class: "lunchtime-link" do %>
                      <%= Dates.time_12(lunchtime.lunchtime_from, lunchtime.lunchtime_to) %>
                    <% end %>
                  </td>
                  <td><%= User.all.where(lunchtime_id: lunchtime.id).count %></td>
                  <td>
                    <%= link_to 'Delete', lunchtime_path(lunchtime.slug), data: { confirm: 'Are you sure?' }, method: :delete %>
                  </td>
                </tr>
              <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <div class="heading">
            <h2>Users</h2>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="lunchtimeUserTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="__title_">Name</th>
                <th class="__description_">Email</th>
                <th class="__username_">Username</th>
                <th class="__category_">Role</th>
                <th class="__startdate_">lunchtime</th>
                <th class="__enddate_">Created at</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.full_name %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.email %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.username %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= user.user_role %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= Dates.time_12(user.lunchtime.lunchtime_from, user.lunchtime.lunchtime_to) %></span>
                    <% end %>
                  </td>
                  <% created_date = Dates.convertedTime(user.created_at, @user.time_zone) %>
                  <% parse_date = DateTime.parse(created_date) %>
                  <td data-sort="<%= parse_date.strftime("%Y%m%d%H%M%s") %>">
                    <%= link_to edit_user_path(user.slug), class: "user_link" do %>
                      <span><%= created_date %></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

