<div class="lunchtime-dashboard">
  <div class="page-title">
    <div class="title_left">
      <h3>Lunchtimes</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-4 col-sm-5 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Add New Lunchtime</strong></h4>
          <%= form_tag new_lunchtime_path, {method: "get", class: "lunchtime_form"} do %>
            <div class="field">
              <label for="lunchtime_name">Name *</label>
              <input type="text" name="lunchtime_name" class="form-control" id="lunchtime_name" value="" placeholder="" required="required" />
            </div>
            <div class="field display-flex">
              <div class="field-wrapper">
                <label for="lunchtime_from">From *</label><br>
                <input type="time" id="lunchtime_from" name="lunchtime_from" class="form-control" required>
              </div>
              <div class="field-wrapper">
                <label for="lunchtime_to">To *</label><br>
                <input type="time" id="lunchtime_to" name="lunchtime_to" class="form-control" required>
              </div>

            </div>
            <%= submit_tag "Add New Lunchtime", class: "btn btn-primary add-lunchtime" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-7 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Existing Lunchtimes</strong></h4>
          <table id="lunchtimeTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>From - To</th>
                <th>Count</th>
                <th colspan="1">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @lunchtimes.each do |lunchtime| %>
                <tr>
                  <td>
                    <%= link_to edit_lunchtime_path(lunchtime.slug), class: "lunchtime-link" do %>
                      <%= lunchtime.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_lunchtime_path(lunchtime.slug), class: "lunchtime-link" do %>
                      <%= Dates.time_12(lunchtime.lunchtime_from, lunchtime.lunchtime_to) %>
                    <% end %>
                  </td>
                  <td><%= User.all.where(lunchtime_id: lunchtime.id).count %></td>
                  <td>
                    <%= link_to 'Delete', lunchtime_path(lunchtime.slug), data: { confirm: 'Are you sure?' }, method: :delete %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

