<div class="lunchtime-dashboard">
  <div class="page-title">
    <div class="title_left">
      <% if current_user.admin? || current_user.lunchtime_perm? %>
        <h3>All Lunchtimes</h3>
      <% else %>
        <h3>Your Lunchtime</h3>
      <% end %>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h4><strong>Lunchtime</strong></h4>
          <table id="lunchtimeTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>From - To</th>
              </tr>
            </thead>
            <% if current_user.admin? || current_user.lunchtime_perm? %>
              <tbody>
                <% @lunchtimes.each do |lunchtime| %>
                  <tr>
                    <td>
                      <%= lunchtime.name %>
                    </td>
                    <td>
                      <%= Dates.time_12(lunchtime.lunchtime_from, lunchtime.lunchtime_to) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            <% else %>
              <% if current_user.lunchtime.present? %>
                <tbody>
                  <tr>
                    <td>
                      <%= current_user.lunchtime.name %>
                    </td>
                    <td>
                      <%= Dates.time_12(current_user.lunchtime.lunchtime_from, current_user.lunchtime.lunchtime_to) %>
                    </td>
                  </tr>
                </tbody>
              <% else %>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>