<!DOCTYPE html>
<html lang="en" id="attendance-calendar" class="attendance-calendar">
  <head>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <title>CVLinens Calendar</title>
    <%= Gon::Base.render_data %>
  </head>

  <body class="login" > <!-- disable inspect -->
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <%= flash_messages %>
    <div class="login_wrapper">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
