<!DOCTYPE html>
<html lang="en" id="attendance-calendar" class="attendance-calendar">
  <head>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <title>CVLinens Calendar</title>
    <%= Gon::Base.render_data %>
  </head>

  <body class="nav-md nav-help-page" > <!-- disable inspect oncontextmenu="return false;" -->
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <%= render partial: 'layouts/shared/help_leftnav' %>
          </div>
        </div>

        <!-- page content -->
        <div class="right_col" role="main">
          <%= flash_messages %>
          <%= yield %>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <%= render partial: 'layouts/shared/footer' %>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
