<div id="register" class="edit_user_form">
  <section class="login_content">
    <% if current_user.inactive? %>
      <h2><strong>Your account has been suspended, so many features have been restricted.</strong></h2>
    <% end %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <h1>Edit <%= resource_name.to_s.humanize %></h1>

      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field">
        <div class="field_wrapper">
          <%= f.label :first_name, "First name *" %>
          <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: "First Name", required: true %>
        </div>
      </div>
      <div class="field">
        <div class="field_wrapper">
          <%= f.label :last_name, "Last name *" %>
          <%= f.text_field :last_name, class: 'form-control', placeholder: "Last Name", required: true %>
        </div>
      </div>
      <div class="field">
        <div class="field_wrapper">
          <%= f.label :email, "Email *" %>
          <%= f.email_field :email, autocomplete: "email", class: 'form-control', placeholder: "Email address", required: true %>
        </div>
      </div>
      <div class="field">
        <div class="field_wrapper">
          <%= f.label :username, "Username *" %>
          <%= f.text_field :username,  class: 'form-control', placeholder: "Username", required: true %>
        </div>
      </div>
      <div class="field">
        <div class="field_wrapper">
          <%= f.label :time_zone, "Time Zone *" %>
          <%= f.time_zone_select :time_zone, nil, {}, {class: "form-control"} %>
        </div>
      </div>
      <div class="field">
        <div class="field_wrapper">
          <%= f.label :department_ids, "Department *" %>
          <% if current_user.admin? || current_user.department_perm? %>
            <select class="form-control department_multiples" id="user_department_ids" name="user[department_ids][]" multiple="multiple" required="required">
              <option value disabled="disabled">No parent</option>
              <% Department.all_sort.each do |d| %>
                <% selected = '' %>
                <% if @user.departments.ids.include?(d.id) %>
                  <% selected = 'selected' %>
                <% end %>
                <% if d.is_root? %>
                  <option value="<%= d.id %>" class="l1 <% if d.has_child? %> non-leaf<% end %>" <%= selected %>><%= d.name %></option>
                <% else %>
                  <option value="<%= d.id %>" data-pup="<%= d.parent_id %>" class="l<%= d.check_level %> <% if d.has_child? %> non-leaf<% end %>" <%= selected %>><%= d.name %></option>
                <% end %>
              <% end %>
            </select>
          <% else %>
            <span class="form-control flex-1 text-left">
              <% d_length = current_user.departments.length %>
              <% current_user.departments.each_with_index do |d, index| %>
                <%= d.try(:name) %><% if d_length - 1 != index %>, <% end %>
              <% end %>
            </span>
          <% end %>
        </div>
      </div>
      <div class="field">
        <div class="field_wrapper">
          <%= f.label :shift_id, "Shift *" %>
          <% if current_user.admin? || current_user.shift_perm? %>
            <%= f.select :shift_id, Shift.all.collect {|u| [u.name, u.id]}.sort, {include_blank: 'Select'}, {required: true}  %>
          <% else %>
            <span class="form-control flex-1 text-left"><%= current_user.shift.try(:name) %></span>
          <% end %>
        </div>
        <div class="more_wrapper">
          <a href="/help#about-shift" class="see_more" target="_blank">Click to see more info ...</a>
        </div>
      </div>
      <div class="field">
        <div class="field_wrapper">
          <%= f.label :lunchtime_id, "Lunchtime *" %>
           <% if current_user.admin? || current_user.lunchtime_perm? %>
            <%= f.select :lunchtime_id, Lunchtime.all.collect {|u| [u.full_info, u.id]}.sort, {include_blank: 'Select'}, {required: true}  %>
          <% else %>
            <span class="form-control flex-1 text-left"><%= current_user.lunchtime.try(:name) %></span>
          <% end %>
        </div>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <div class="field_wrapper">
          <%= f.label :current_password, "Current password *" %>
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
        </div>
        <i>(we need your current password to confirm your changes)</i>
      </div>

      <div class="field">
        <div class="field_wrapper">
          <%= f.label :password %> 
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>
        <i>(leave blank if you don't want to change it)</i>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <div class="field_wrapper">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: 'btn btn-primary submit' %>
      </div>
    <% end %>

    <%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :delete }) do |f| %>
      <h2>Close account</h2>
      <p><%= I18n.t 'suspened_user_delete' %></p>
      <%# <p>You are about to close your account , this procedure is irreversible.</p>
      <input data-confirm="Are you sure?" type="submit" value="Close my account" class="btn btn-danger submit"> %>
    <%# end %>

    <%= link_to "Back", :back, class: "btn btn-default" %>

    <div class="clearfix"></div>
    <div class="separator">
      <br />
      <div>
        <p>©2020 All Rights Reserved. CV Linens!</p>
      </div>
    </div>
  </section>
</div>