<div id="register" class="">
  <section class="logo">
    <img src="<%= image_url('logo.png', :alt => 'CVLinens') %>" >
  </section>
  <section class="login_content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h1>Sign up</h1>

      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <div class="user_field">
          <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: "First Name", required: "required" %>
          <%= f.text_field :last_name, autofocus: true, class: 'form-control', placeholder: "Last Name", required: "required" %>
        </div>
        
      </div>
      <div class="field">
        <%= f.text_field :username, autofocus: true, class: 'form-control', placeholder: "Username", required: "required" %>
      </div>
      <div class="field">
        <%= f.email_field :email, autocomplete: "email", class: 'form-control', placeholder: 'Email', required: "required" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Password', required: "required" %>
      </div>

      <div class="field">
        <!-- <%= f.label :password_confirmation %><br /> -->
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Password Confirmation', required: "required" %>
      </div>

      <div class="actions">
        <%= f.submit "Submit", class: 'btn btn-default submit' %>
      </div>
    <% end %>

    <div class="clearfix"></div>
    <div class="separator">
      <p class="change_link">Already a member ?
        <a href="/users/sign_in" class="to_register"> Log in </a>
      </p>
      <div class="clearfix"></div>
      <p>Need Help? <a href="/help">About App</a></p>
      <br />
      <div>
        <p>©2020 All Rights Reserved. CV Linens!</p>
      </div>
    </div>
    
  </section>
</div>